{% comment %} {% if item.show_collection_title %}
<div class="tt-title{% if settings.toolbarsettings == 'hidetoolbaroptionslogoincenter' %} text-center{% endif %}">
 <h1>{{ collection.title }}</h1><p class="coll-subhead" style="font-size:14px;color: #06374F;text-align: center;font-family: 'AvenirRegular';font-size: 20px;font-style: normal;font-weight: 350;line-height: normal;">{{ collection.metafields.custom.collection_subheading }}</p> {% if item.show_collection_products_count %} <span class="tt-title-total listing-total-js">({{ paginate.items }})</span>{% endif %}
</div>
{% endif %} {% endcomment %}
{%- unless item_sidebar contains "_disable_" -%}
<div class="tt-btn-toggle">
  <a href="#">{{ 'collections.toolbar.filter' | t }}</a>
</div>

<!-- hiding product category filter on category collections -->
{% if collection.handle == 'arts-crafts'
  or collection.handle == 'puzzles-pretend-play'
  or collection.handle == 'toddler-infants'
  or collection.handle == 'learning-resources'
  or collection.handle == 'card-board-games'
  or collection.handle == 'stem-toys'
%}
  <style>
    #shopify-section-template--17480081473725__main > div.container-indent.collection-page-bg > div > div > div.col-md-4.col-lg-3.col-xl-3.leftColumn.aside.desctop-no-sidebar.withpricerage.column-open > div:nth-child(6) {
      display: none;
    }
  </style>
{% endif %}

<!-- hiding unwanted tag from specific collection -->
  {% if collection.handle == 'our-products-for-ages-0-3'
      or collection.handle == '6-9-years'
      or collection.handle == '8-13-years' %}
    <style>
      .tt-list-row.shopifyfiltres-js li:nth-child(6) {display: none;}
    </style>
  {% endif %}

{%- endunless -%}
<div class="tt-age-btn">
  {% render 'collection-page-age-btns' %}
</div>
{% unless settings.toolbarsettings contains 'hidetoolbaroptions' %}
{% capture qty %}{% if collection.all_products_count > pagination_limit_const and settings.show_perpage %}true{% else %}false{% endif %}{% endcapture %}
{% if settings.collectionshowsort or qty == "true" %}
<div class="tt-sort collection-sort-option">
  {% if settings.collectionshowsort %}
  <select class="sort-position" aria-label="sort filter">   
   <option style="font-weight: 900;" >Sort by{% comment %}{{ 'collections.sorting.featured' | t }}{% endcomment %}</option>
   <option value="manual"> Default {% comment %}{{ 'collections.sorting.featured' | t }}{% endcomment %}</option>
    {% comment %} <option value="title-ascending"{% if collection.default_sort_by == 'title-ascending' %} selected{% endif %}>{{ 'collections.sorting.az' | t }}</option> {% endcomment %}
    {% comment %} <option value="title-descending"{% if collection.default_sort_by == 'title-descending' %} selected{% endif %}>{{ 'collections.sorting.za' | t }}</option> {% endcomment %}
    {% comment %} <option value="created-ascending"{% if collection.default_sort_by == 'created-ascending' %} selected{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option> {% endcomment %}
    {% comment %} <option value="created-descending"{% if collection.default_sort_by == 'created-descending' %} selected{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option> {% endcomment %}
    <option value="price-ascending"{% if collection.default_sort_by == 'price-ascending' %} selected{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
    <option value="price-descending"{% if collection.default_sort_by == 'price-descending' %} selected{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
   {% comment %}   <option value="best-selling"{% if collection.default_sort_by == 'best-selling' %} selected{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>{% endcomment %}
  </select>
  {% endif %}

  {% if qty == "true" %}
  <select class="show-qty">
    <option>{{ pagination_limit_const }}</option>
    <option {% if current_pagination_limit == 16 %}selected{% endif %} value="16">16</option>
    <option {% if current_pagination_limit == 32 %}selected{% endif %} value="32">32</option>
    <option {% if current_pagination_limit == 50 %}selected{% endif %} value="all">{{ 'collections.toolbar.all' | t }}</option>
  </select>
  {% endif %}
</div>
{% endif %}
{% if settings.collectionshowgrid %}
<div class="tt-quantity">
  {% if settings.use_one_row_in_theme %}<a href="#" class="tt-col-one" data-value="tt-col-one"></a>{% endif %}
  <a href="#" class="tt-col-two" data-value="tt-col-two"></a>
  <a href="#" class="tt-col-three" data-value="tt-col-three"></a>
  <a href="#" class="tt-col-four" data-value="tt-col-four"></a>
  <a href="#" class="tt-col-six" data-value="tt-col-six"></a>
</div>
{% endif %}
{% endunless %}