{%- if footer_links != '' and footer_links.settings.show_content -%}
{%- assign no_col_4 = '' -%}

{%- assign count = 0 -%}
{%- for i in (1..4) -%}
{%- assign html_show = 'linklist_showhtml' | append: i -%}{%- assign html_show = footer_links.settings[html_show] -%}
{%- assign _linklist = 'linklist' | append: i -%}{%- assign _linklist = footer_links.settings[_linklist] -%}
{%- if _linklist != blank or html_show -%}{%- assign count = count | plus: 1 -%}
{%- elsif i == 4 and footer_links.settings.show_subsribe_form -%}{%- assign count = count | plus: 1 -%}
{%- endif -%}
{%- endfor -%}

{%- assign gridmdlast = "" -%}
{%- case count -%}
{%- when 3 -%}

{%- if footer_links.settings.show_subsribe_form -%}
	{%- assign gridmd = "col-md-6 col-lg-3 col-xl-3 footer-item" -%}
	{%- assign gridmdlast = "col-md-3 col-lg-3 col-xl-3 footer-item" -%}
{%- else -%}
	{%- assign gridmd = "col-md-6 col-lg-4 col-xl-4 footer-item" -%}
{%- endif -%}

{%- when 2 -%}
{%- assign gridmd = "col-md-4 col-lg-4 col-xl-4 footer-item" -%}
{%- when 1 -%}
{%- assign gridmd = "col-md-12 col-lg-12 col-xl-12 footer-item" -%}
{%- else -%}
{%- if footer_links.settings.show_subsribe_form -%}
{%- assign gridmd = "footer-item subscription-div col-md-4 col-lg-2 col-xl-2" -%}
{%- assign gridmdlast = "footer-item  sub-last-div col-md-6 col-lg-4 col-xl-4" -%}
{%- else -%}
{%- assign gridmd = "col-md-6 col-lg-3 col-xl-3" -%}
{%- endif -%}
{%- endcase -%}

<div class="{% if count == 1 %}tt-footer-center{% else %}tt-footer-col{% endif %} tt-color-scheme-03">
  <div class="container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">
    
    <div class="{% if count == 1 %}tt-row{% else %}row custom-footer{% endif %}">

      {%- for i in (1..5) -%}
      {%- assign _linklist = 'linklist' | append: i -%}
      {%- assign _title = 'linklist_t' | append: i -%}
      {%- assign html_show = 'linklist_showhtml' | append: i -%}
      {%- assign html_content = 'linklist_html' | append: i -%}
      {%- assign _linklist = footer_links.settings[_linklist] -%}
      {%- assign html_show = footer_links.settings[html_show] -%}
      {%- if _linklist != blank or html_show or i == 5 and footer_links.settings.show_subsribe_form -%}

      
      {%- if i == 3 -%}{%- assign gridmd = gridmd | replace: 'col-lg-2', 'col-lg' -%}{%- endif -%}
      {% unless count == 1 %}<div class="{% if forloop.last and gridmdlast != '' %}{{ gridmdlast }}{% else %}{{ gridmd }}{% endif %}">{% endunless %}
        {%- if i == 5 and footer_links.settings.show_subsribe_form -%}
        <div class="tt-newsletter">
          <div class="{% if section.settings.show_subcollapsible %}tt-mobile-collapse{%- endif -%}">
            <p class="tt-collapse-title">{{ footer_links.settings.text1 }}</p>
            {% if footer_links.settings.show_subsribe_form_social_only %}
            <div class="tt-collapse-content">
            {%- capture soc_links -%}
              {%- if footer_links.settings.facebook_url -%}<li><a class="icon-g-64" target="_blank" href="{{ footer_links.settings.facebook_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.twitter_url -%}<li><a class="icon-h-58" target="_blank" href="{{ footer_links.settings.twitter_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.gmail_url -%}<li><a class="icon-g-66" target="_blank" href="{{ footer_links.settings.gmail_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.instagram_url -%}<li><a class="icon-g-67" target="_blank" href="{{ footer_links.settings.instagram_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.pinterest_url -%}<li><a class="icon-g-70" target="_blank" href="{{ footer_links.settings.pinterest_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.youtube_url -%}<li><a class="icon-g-76" target="_blank" href="{{ footer_links.settings.youtube_url }}"></a></li>{%- endif -%}
              {%- if footer_links.settings.whatsapp_url -%}<li><a target="_blank" href="{{ footer_links.settings.whatsapp_url }}">{% include "svg-whatsapp" %}</a></li>{%- endif -%}
            {%- endcapture -%}
            {%- assign soc_links = soc_links | strip -%}
            {%- if soc_links != '' -%}<ul class="tt-social-icon">{{ soc_links }}</ul>{%- endif -%}
            </div>
            {% else %}
            <div class="tt-collapse-content">
            <p class="tt-collapse-title newsletter-title">{{ footer_links.settings.text2 }}</p>
              
              {%- if settings.use_mailchimp_form -%}
              {%- if settings.mailchimp_form_action != "" -%}
              <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline form-default">
                <div class="form-group">
                  <input type="email" name="EMAIL" class="form-control" placeholder="{{ footer_links.settings.text4 }}">
                  <button type="submit" class="btn footer_subscribe_btn">{{ footer_links.settings.text3 }}</button>
                </div>
              </form>
              {%- else -%}
              <strong><u><a href="{{ shop.url }}/admin/themes" style="color: black;">
                Add newsletter redirect link in:<br>
                Customize Theme / General Settings / Newsletter / MailChimp form action URL
                </a></u></strong>
              {%- endif -%}
              
              {%- else -%}
              {% if count == 1 %}<div class="form-inline form-default">{% endif %}
              
              {%- form 'customer' -%}
              {{ form.errors | default_errors }}
              <div class="form-group">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email"
                       name="contact[email]"
                       class="form-control"
                       value="{% if customer %}{{ customer.email }}{% endif %}"
                       placeholder="{{ footer_links.settings.text4 }}"
                       autocomplete="off"
                       autocapitalize="off"
                       spellcheck="false" >
                <button type="submit" class="btn footer_subscribe_btn" name="commit">{{ footer_links.settings.text3 }}</button>
              </div>
              {%- endform -%}
              
              {% if count == 1 %}</div>{% endif %}
              {%- endif -%}
            </div>
            {% endif %}
          </div>
     
        </div>
        {%- unless footer_links.settings.show_subsribe_form_social_only -%}
        {%- if footer_links.settings.show_socials -%}
        {%- capture soc_links -%}
           {%- if footer_links.settings.facebook_url -%}<li>Stay Up to Date</li>{%- endif -%}
          {%- if footer_links.settings.facebook_url -%}<li><a class="icon-g-64"  aria-label="facebbook link" target="_blank" href="{{ footer_links.settings.facebook_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.twitter_url -%}<li><a class="icon-h-58" aria-label="twitter link"  target="_blank" href="{{ footer_links.settings.twitter_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.gmail_url -%}<li><a class="icon-g-66" aria-label="gmail link" target="_blank" href="{{ footer_links.settings.gmail_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.instagram_url -%}<li><a class="icon-g-67" aria-label="instagram link" target="_blank" href="{{ footer_links.settings.instagram_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.pinterest_url -%}<li><a class="icon-g-70" aria-label="pintrest link"  target="_blank" href="{{ footer_links.settings.pinterest_url }}"></a></li>{%- endif -%}
      	  {%- if footer_links.settings.youtube_url -%}<li><a class="icon-g-76" aria-label="youtube link" target="_blank" href="{{ footer_links.settings.youtube_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.whatsapp_url -%}<li><a target="_blank" aria-label="whatsapp link" href="{{ footer_links.settings.whatsapp_url }}">{% include "svg-whatsapp" %}</a></li>{%- endif -%}
        {%- endcapture -%}
        {%- assign soc_links = soc_links | strip -%}
        {%- if soc_links != '' -%}<ul class="tt-social-icon">{{ soc_links }}</ul>{%- endif -%}
        {%- endif -%}
      	{%- endunless -%} 
          <a class="whatsapp-icon-foot" href="https://wa.me/+918422822545" target="_blank">
         <p>WhatsApp Us:</p> 
         <img  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mobile_28x28.png?v=1742463939" alt="whatsapp" width="26px" height="26px" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mobile_28x28.png?v=1742463939">
        </a>
     {% comment %}  <div class="mobile-only mob-footerbtn-1">
   {%- include "footer_bottom_links" -%}
       </div>{% endcomment %}
        {%- else -%}
        <div class="{% if section.settings.show_collapsible %}tt-mobile-collapse{%- endif -%}">
          {% if footer_links.settings[_title] != '' %}<p class="tt-collapse-title">{{ footer_links.settings[_title] }}<img  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555" class="accordian-icon" alt="chevron-up"  width="30px" height="30px" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555"></p>{% endif %}
          {% if footer_links.settings[_title] != '' %}<div class="tt-collapse-content">{% endif %}
            {%- if _linklist != blank -%}
            <ul class="tt-list">
              {%- for link in linklists[_linklist].links -%}
              <li><a href="{{ link.url }}"{% if settings.footer_main_links_underline_hover %} class="text-decoration-hover"{% endif %}>{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
            {% if html_show %}
            {{ footer_links.settings[html_content] }}
            {% endif %}
          {% if footer_links.settings[_title] != '' %}</div>{% endif %}
        </div>
        {%- endif -%}    
        
      {% unless count == 1 %}</div>{% endunless %}


      {%- endif -%}
      {%- endfor -%}

    </div>
  </div>
</div>

{%- endif -%}
