<div class="{% if count == 1 %}tt-footer-center{% else %}tt-footer-col{% endif %} tt-color-scheme-03">
  <div class="{{ template.name  }} container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">    
{%- if section.settings.fmenu != blank and  section.settings.show-footer-bottom -%}
 {%- if item.menu-title  != blank -%} <h5>{{ item.menu-title }}</h5>    {%- endif -%}
  
                      <ul class="tt-list footer-block__details-content list-unstyled">
                        {%- for link in section.settings.fmenu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="text-decoration-hover bottom-links link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                       {%- endif -%}
<!--footertext content -->
{% if template.name contains "collection" and collection.metafields.pdp.footer_text_content.value !=blank %}  
     
            <div class="tt-collapse-block footer-btn-tab"> 
            <div class="footer-btn-ques"> 
              <p class="tt-collapse-title">{{collection.title }}</p>
              <span>
                <img  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555"  class="accordian-icon" alt="chevron-up"  width="30px" height="30px" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555">
              </span>
             </div>
            <div class="footer-btn-ans">
              {{ collection.metafields.pdp.footer_text_content | metafield_tag }}
             </div>              
            </div>
  
         
{% elsif template.name contains "product" %}
    {% if product.metafields.pdp.footer_text2.value != blank %}
            <div class="tt-collapse-block footer-btn-tab">
              <div class="footer-btn-ques">
      <p class="tt-collapse-title">{{product.title}}</p>
                
                <span>
                  <img  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp" class="accordian-icon" alt="chevron-up" width="30px" height="30px" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp">
                </span>
              </div>
              
              <div class="footer-btn-ans">
                {{ product.metafields.pdp.footer_text2 | metafield_tag }}
              </div>
</div>
{% endif %}
{% elsif template.name contains 'index'%}

       
         {% if item.bottom-title != blank %} 
        <div class="tt-collapse-block footer-btn-tab">
         <div class="footer-btn-ques"> 
           <p class="tt-collapse-title">{{ item.bottom-title }}</p>
           <span>
             <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555" class="accordian-icon" alt="chevron-up"  width="30px" height="30px" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555" >
           </span>
         </div>
        <div class="footer-btn-ans">
           {% if item.bottom-content != blank %}{{ item.bottom-content }}{% endif %}
        </div>  
          
        </div>
       {%- endif -%}
       
    {% elsif template.name contains 'page'%}

       
         {% if page.metafields.custom.footer_content != blank %} 
        <div class="tt-collapse-block footer-btn-tab">
         <div class="footer-btn-ques">  
           {{ page.metafields.custom.footer_title }}   
           <span>
             <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555" class="accordian-icon" alt="chevron-up"  width="30px" height="30px" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Dropdown_Arrow_30x30.webp?v=1726906555">
           </span>
         </div>
        <div class="footer-btn-ans">
           {% if page.metafields.custom.footer_content != blank %}{{ page.metafields.custom.footer_content | metafield_tag }}{% endif %}
        </div>  
          
        </div>
       {%- endif -%}
       
{%- endif -%}
       <!--footertext content -->
</div>
</div>


<script>
const footerBtnQues = document.querySelectorAll('.footer-btn-tab');

footerBtnQues.forEach(function(button) {
  button.addEventListener('click', function() {
    button.classList.toggle('active');
  });
});

</script>