<a href="{{ routes.root_url }}" class="tt-logo" aria-label="logoskillmatics">
  {%- if headerlogo contains "title_" -%}<h2 class="tt-title">{{ headerlogo | split:"title_" | last }}</h2>
  {%- else -%}<img src="{{ headerlogo }}"
                   srcset="{{ headerlogo }} 1x, {{ headerlogoretina }} 2x"
                   alt="{{ headerlogoalt }}" id="skill_logo"
                   class="1 tt-retina" style="top:{{ item.logo_margin_top }}px" width="101px" height="30px" fetchpriority="high" />
  {%- endif -%}
</a>