<script>  
    var giftamt ={{ settings.free-gift-amt | plus:0 }}; 

  function updatePrices2(data){
    var m = Shopify.formatMoney(data.total_price, money_format);
    if($('#grandtotal').length){
      if($('#grandtotal .money').length){
        $('#grandtotal .money').replaceWith(m);
      }
      else{
        $('#grandtotal td').html(m);
      }
    }
    if($('#subtotal').length){
      if($('#subtotal .money').length){
        $('#subtotal .money').replaceWith(m);
      }
      else{
        $('#subtotal td').html(m);
      }
    }
    $('#wrapper-response').length && $('#wrapper-response').hide();
    $('#tax').length && $('#tax').hide();
    $('body').trigger('refreshCurrency');
  }
  function getGiftAddedInner(cart){
    for(let i=0; i<cart.items.length;i++){
        if(cart.items[i].title.includes('Free Gift')){
            return cart.items[i].id;
        }
      }
      return 0;
  }
  function createGiftRow(data,itemId){
     const item=data;
    console.log("item",data)
    const giftRow=`<tr data-tr='tt-shopcart-table-02-${item.id}' id="${item.id}">
      <td>
        <div class="tt-product-img">
          <img src="${item.image}" alt="${item.alt}">
        </div>
      </td>
      <td>
        <h2 class="tt-title">
          <a href="${ item.url }">${item.product_title}</a>
        </h2>
        <ul class="tt-list-parameters">
          <li>
            <div class="tt-price">Rs. ${item.price}</div>
          </li>
          <li>
            <div class="detach-quantity-mobile"></div>
          </li>
          <li>
            <div class="tt-price subtotal">Rs. ${item.line_price}</div>
          </li>
        </ul>
      </td>
      <td>
        <div class="tt-price">Rs. ${item.price}</div>
      </td>
      <td>
        <div class="detach-quantity-desctope">
          <div class="tt-input-counter style-01 input-counter">
            
          </div>
        </div>
      </td>
      <td>
        <div class="tt-price subtotal">Rs. ${item.line_price}</div>
      </td>
      <td>
        <span onclick="removeItemManually(${item.id})" class="tt-btn-close svg-icon-delete js-deleteitem-ajax" title="Delete" >
         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
  <g>
    <path d="M3.6,21.1c-0.1-0.1-0.2-0.3-0.2-0.4v-15H2.2C2,5.7,1.9,5.6,1.7,5.5C1.6,5.4,1.6,5.2,1.6,5.1c0-0.2,0.1-0.3,0.2-0.4
             C1.9,4.5,2,4.4,2.2,4.4h5V1.9c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h6.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
             v2.5h5c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-1.3v15
             c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2H4.1C3.9,21.3,3.7,21.2,3.6,21.1z M17.2,5.7H4.7v14.4h12.5V5.7z M8.3,9
             c0.1,0.1,0.2,0.3,0.2,0.4v6.9c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2s-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V9.4
             c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2S8.1,8.9,8.3,9z M8.4,4.4h5V2.6h-5V4.4z M11.4,9c0.1,0.1,0.2,0.3,0.2,0.4v6.9
             c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2s-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V9.4c0-0.2,0.1-0.3,0.2-0.4
             c0.1-0.1,0.3-0.2,0.4-0.2S11.3,8.9,11.4,9z M13.6,9c0.1-0.1,0.3-0.2,0.4-0.2s0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4v6.9
             c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2s-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V9.4C13.4,9.3,13.5,9.1,13.6,9z"/>
  </g>
</svg>
        </span>
      </td>
    </tr>`
    const innerBody = document.querySelector("table tbody")
    innerBody.insertAdjacentHTML('beforebegin',giftRow) ;
  }

  function removeFreeGiftCartPageInner(lineItemId){
    var params = {
        type: 'POST',
        url: '/cart/change.js',
        data: {
            quantity: 0,
            id: `${lineItemId}`
        },
        dataType: 'json',
        success: function(data) {
            {% comment %} document.querySelectorAll('.tt-shopcart-table-02 tr')[lineItemId-1].remove() {% endcomment %}
            document.querySelector(`[data-tr=tt-shopcart-table-02-${lineItemId}]`).remove()
             updatePrices2(data); 
             {% comment %} location.reload();  {% endcomment %}
        }
      };
      $.ajax(params);
  }
  function removeItemManually(itemId){
    var params = {
      type: 'POST',
      url: '/cart/change.js',
      data: {
          quantity: 0,
          id: `${itemId}`
      },
      dataType: 'json',
      success: function(data) {
        document.querySelector(`[data-tr=tt-shopcart-table-02-${itemId}]`).remove()

          if((data.total_price/100)<giftamt){
            const lineItemGift =getGiftAddedInner(data);
            if(lineItemGift){
              removeFreeGiftCartPageInner(lineItemGift)
            }
            if(document.querySelector('.free-gift-container')){
              document.querySelector('.free-gift-container').remove();
            }
          }else{
            const lineItemGift =getGiftAddedInner(data);
            if(lineItemGift<1){
              showGift(data)
            }
          }
          // location.reload();  
          updatePrices2(data); 
      }
    };
    $.ajax(params);
  }
  function addGift2(lineItemId){
    const buttonClicked = document.querySelector(`[data-id="free-gift-${lineItemId}"]`)
    document.querySelectorAll('.free-gift-container button').forEach((item)=>{
        item.disabled=true;
        item.style.opacity='0.8';       
    });
    buttonClicked.innerText='Adding...';
    console.log("addingbtn clicked");

    var params = {
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: lineItemId
        },
        dataType: 'json',
        success: function(data) {
            localStorage.setItem("_cfg_ad",'true');
            createGiftRow(data,lineItemId);
          location.reload(); 
            if(document.querySelector('.free-gift-container')){
              document.querySelector('.free-gift-container').remove();               
            }
           
        }
    };
    $.ajax(params);
  }
  function showGift(cart){
    const freeGiftSnippet=`
      <div class="row free-gift-container cartpagefreegift">
          
              {% assign productsData= collections['free-gift'].products %}
              {% for item in productsData %}
                  {% if item.variants.first.available %}
                      <div class="free-product card">
                        <a id="skill_cart_freegift_p0{{ forloop.index }}" href="{{ item.url }}">
                    <div class="custom-free-tag">
                            <svg width="78" height="22" viewBox="0 0 78 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 10C0 4.47715 4.47715 0 10 0H78L72.4286 22H0V10Z" fill="#EFDD68"/>
                              <path d="M13.0917 15.986C12.9517 16.112 11.3417 16.154 11.2017 16.056C11.1457 15.258 11.0477 7.446 11.1037 6.214C11.6357 6.144 17.2497 6.144 17.5157 6.228C17.6277 6.396 17.5997 7.544 17.5437 7.852C17.2917 7.894 14.0437 7.866 12.9657 7.838L13.0077 10.918C14.0437 10.904 16.5637 10.932 16.6617 10.974C16.8017 11.072 16.7177 12.416 16.7177 12.458C16.7177 12.514 14.2397 12.5 13.0357 12.472C13.0637 13.508 13.1057 15.356 13.0917 15.986ZM22.5722 9.224C22.7682 9.322 22.5582 10.834 22.3622 11.058C22.1242 11.002 21.7462 10.932 21.4382 10.932C20.7662 10.946 20.2902 11.464 20.1502 12.136C20.1222 12.374 20.2202 15.972 20.1922 16.014C20.1642 16.07 18.4142 16.098 18.3862 16.014C18.3582 15.958 18.3582 9.672 18.4002 9.392C18.4842 9.182 19.9822 9.112 20.0802 9.238C20.1082 9.546 20.0802 10.162 20.0662 10.232C20.6122 9.308 21.6622 9.084 22.5722 9.224ZM24.8422 13.088C24.8422 14.068 25.5982 14.67 26.6342 14.67C27.4742 14.67 27.9922 14.362 28.3842 14.068C28.4962 14.166 28.9862 15.104 29.0002 15.286C28.6362 15.636 27.6982 16.126 26.5502 16.126C24.2262 16.126 23.1622 14.516 23.1622 12.71C23.1622 10.862 24.3102 9.154 26.4242 9.154C28.1742 9.154 29.3082 10.47 29.3082 11.982C29.3082 12.416 29.2662 12.752 29.1822 13.018C28.4962 13.116 25.7662 13.116 24.8422 13.088ZM24.8702 11.996L27.6982 11.968C27.7542 11.044 27.2502 10.428 26.3822 10.428C25.4582 10.428 24.8702 11.156 24.8702 11.996ZM31.9242 13.088C31.9242 14.068 32.6802 14.67 33.7162 14.67C34.5562 14.67 35.0742 14.362 35.4662 14.068C35.5782 14.166 36.0682 15.104 36.0822 15.286C35.7182 15.636 34.7802 16.126 33.6322 16.126C31.3082 16.126 30.2442 14.516 30.2442 12.71C30.2442 10.862 31.3922 9.154 33.5062 9.154C35.2562 9.154 36.3902 10.47 36.3902 11.982C36.3902 12.416 36.3482 12.752 36.2642 13.018C35.5782 13.116 32.8482 13.116 31.9242 13.088ZM31.9522 11.996L34.7802 11.968C34.8362 11.044 34.3322 10.428 33.4642 10.428C32.5402 10.428 31.9522 11.156 31.9522 11.996ZM42.4338 11.1C42.4338 13.284 43.5118 14.516 45.2198 14.516C45.8638 14.516 46.4658 14.334 46.8438 14.166C46.8438 13.648 46.8298 12.318 46.8298 12.318C46.8298 12.318 45.1638 12.374 44.8278 12.388C44.7858 12.304 44.7578 11.058 44.8138 10.96C45.2898 10.862 48.5098 10.708 48.5798 10.834C48.6918 11.058 48.6358 14.614 48.5938 15.216C48.0198 15.664 46.5918 16.224 45.0518 16.224C41.9298 16.224 40.4458 13.97 40.4458 11.044C40.4458 8.258 42.2518 6.06 45.2898 6.06C46.8018 6.06 47.8938 6.55 48.3698 6.942C48.3838 7.152 47.7537 8.258 47.5577 8.468C47.0397 8.174 46.2698 7.852 45.3038 7.852C43.6378 7.852 42.4338 9.252 42.4338 11.1ZM50.2414 9.224C50.3114 9.112 51.9074 9.168 51.9634 9.224C52.0194 9.266 51.9634 15.874 51.9074 15.972C51.8514 16.07 50.3394 16.028 50.3114 15.986C50.2974 15.944 50.1434 9.378 50.2414 9.224ZM50.0594 6.942C50.0594 6.298 50.2414 5.836 51.1094 5.836C51.7534 5.836 52.2014 6.27 52.2014 7.012C52.2014 7.53 51.7534 7.95 51.1094 7.95C50.4794 7.95 50.0594 7.586 50.0594 6.942ZM56.1634 9.14C56.2894 9.182 58.0394 9.112 58.1374 9.308C58.1374 9.308 58.2354 10.316 58.1094 10.526C58.0534 10.624 56.2054 10.624 56.1914 10.61C56.1634 10.61 56.3174 15.93 56.2474 16C56.1774 16.07 54.5814 16.196 54.5114 16.056C54.4274 15.86 54.4554 10.778 54.4554 10.652C54.3434 10.638 53.2654 10.666 53.2234 10.638C53.1674 10.61 53.0554 9.462 53.1114 9.378C53.1814 9.294 54.4834 9.238 54.4834 9.224C54.4834 9.21 54.4414 8.37 54.4414 7.796C54.4414 6.536 55.2954 5.472 56.7514 5.472C57.8294 5.472 58.5294 5.934 58.7814 6.158C58.7394 6.48 58.4174 7.446 58.3194 7.46C58.1654 7.474 57.7734 7.054 57.1574 7.054C56.5274 7.054 56.1774 7.586 56.1634 8.272V9.14ZM61.5471 10.68C61.5471 10.736 61.4771 12.794 61.4631 13.704C61.4491 14.25 61.6871 14.628 62.2471 14.628C62.8491 14.642 63.2691 14.264 63.4091 14.278C63.5771 14.32 63.8431 15.3 63.8431 15.538C63.8431 15.538 63.2131 16.21 61.8691 16.182C60.3851 16.168 59.7131 15.314 59.7271 14.04C59.7411 13.326 59.8531 10.596 59.8531 10.596C59.8531 10.582 58.8031 10.582 58.7331 10.526C58.6631 10.47 58.6351 9.196 58.7331 9.168C58.7891 9.168 59.8531 9.21 59.8951 9.168C59.9371 9.14 59.8811 7.628 60.0071 7.502C60.1331 7.39 61.5891 7.306 61.6451 7.362C61.7151 7.432 61.5891 9.238 61.6031 9.224C61.6311 9.21 63.4511 9.182 63.5771 9.336C63.7171 9.476 63.6051 10.61 63.6051 10.61C63.5071 10.736 61.5471 10.596 61.5471 10.68Z" fill="#06374F"/>
                            </svg>
                          </div>
                          <img src="{{ item.featured_image | product_img_url:"large" }}"  alt="product image" loading="lazy" width="150px" height="100px">
                        </a>
                        <a href="{{ item.url }}">
                          <p class="title">{{ item.title }}</p>
                        </a>
                          <div product-id="{{ item.id }}" class="arv-collection arv-collection--{{ item.id }}"></div>
                          <p class=" tt-price price">
                          {{ item.price |money}}
                          <span class="compare-price"> {{ item.compare_at_price|money }}</span>
                          </p>
                         
                            <button id="skill_cart_freegift_p0{{ forloop.index }}_atc" onclick="addGift2({{ item.variants.first.id }})" data-id="free-gift-{{item.variants.first.id}}" class="btn freegiftbtn  tt-btn-addtocart addtocart-item-js thumbprod-button-bg">
                              ADD                       
                            </button>
                        
                    
                   
                      </div>
                {% endif %}
              {% endfor %}
          
        </div>
    `;
    
    if(!((cart.total_price/100)<giftamt) ){
      if(!getGiftAddedInner(cart)){
       // console.log(getGiftAddedInner(cart),"getGiftAddedInner(cart)")
      
        if(!document.querySelector('.free-gift-container')){
          document.querySelector('.hs-rewards-content').insertAdjacentHTML("afterend", freeGiftSnippet);
          {% comment %} document.querySelector('.tt-shopcart-table-02').insertAdjacentHTML("afterend", freeGiftSnippet); {% endcomment %}
        }
      }
    }
    //cartupdate
let previousCart = null;

// Function to check the current cart state
function checkCart() {
    fetch('/cart.js')
        .then(response => response.json())
        .then(cart => {
            if (JSON.stringify(cart) !== JSON.stringify(previousCart)) {
              //  console.log("Cart updated");
                cartUpdated(cart); // Call your cart updated function
                previousCart = cart; // Update the previous cart state
                                if(!((cart.total_price/100)<giftamt) ){
                    if(!getGiftAddedInner(cart)){
                     // console.log(getGiftAddedInner(cart),"getGiftAddedInner(cart)")
                    
                      if(!document.querySelector('.free-gift-container')){
                        document.querySelector('.hs-rewards-content').insertAdjacentHTML("afterend", freeGiftSnippet);
                        {% comment %} document.querySelector('.tt-shopcart-table-02').insertAdjacentHTML("afterend", freeGiftSnippet); {% endcomment %}
                      }
                    }
                  }else{
                           if(document.querySelector('.free-gift-container')){
                        document.querySelector('.free-gift-container').remove();
                          }       
                  }
              
            }
        })
        .catch(error => console.error('Error fetching cart:', error));
}

// Function to handle cart updated logic
 function updateProgressBar(cart) {
    var cartTotal = cart.total_price / 100; // Convert from cents to dollars
       // Assuming you have a way to get the cart total, e.g., from a global variable or API
   // var cartTotal = 1099; // Replace with your method to get the cart total
    var giftThreshold ={{ settings.free-gift-amt }}; // Minimum amount required for the free gift
console.log("freegift_amt",giftThreshold);
    console.log("cartTotal",cartTotal);
    function updateProgressBar(cartTotal, giftThreshold) {
        var progressBarFill = document.getElementById('progress-bar-fill');
        var progressText = document.getElementById('cart-progress-text');
        var percentage = Math.min((cartTotal / giftThreshold) * 100, 100); // Prevent over 100%

        progressBarFill.style.width = percentage + '%';
        if (cartTotal >= giftThreshold) {
            progressText.textContent = 'Congratulations🎉! You have earned your free gift!';
            var SkCfreeGiftItem = cart.items.find(item => item.title.includes('Free')); 
             if (SkCfreeGiftItem) {    // Add the inner text to the element if found
              progressText.textContent  = "Congratulations! You've Claimed your free gift!";
          }
        } else {
            var amountNeeded = giftThreshold - cartTotal;
            progressText.textContent = 'Add ' + amountNeeded.toFixed(2) + ' more to get a free gift!';
        }
    }

    updateProgressBar(cartTotal, giftThreshold);
  }
          document.addEventListener('DOMContentLoaded', function() {
         updateProgressBar(cart);;
      });
      function cartUpdated(cart) {
      updateProgressBar(cart);
         //
      }
//
// Initial check to set the previous cart
fetch('/cart.js')
    .then(response => response.json())
    .then(cart => {
        previousCart = cart; // Set the initial cart state
    })
    .catch(error => console.error('Error fetching initial cart:', error));

// Set an interval to check for cart changes every 1 second
setInterval(checkCart, 1000);


    //cartupdate
    
  }
 
  showGift({{ cart|json }});
</script>