{% if BundleProduct.metafields.pdp.key_skills %}
    <div class="ProductInfo-KeySkills-Container">
      
              <div class="KeySkills-Heading">
                <p>Key Skills:</p>
              </div>
      
              {% assign skills = BundleProduct.metafields.pdp.key_skills | split: ',' %}
              
      <div id="skill_pdp_keyskills"  class="KeySkills-Skills bundlepd-metafield">
              {% for skill in skills %}

                  <div class="ProductInfo-Skill">
                  {% if skill contains 'Language Skills' %}
                      <a href="#">   <img  loading="lazy" width="48px" height="48px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_48x48.png"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Sensory Capabilities' %}
                       <a href="#">  <img  loading="lazy" width="48px" height="48px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Sensory_Capabilities-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Sensory_Capabilities-icon_48x48.png" > <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Cognitive Abilities' %}
                       <a href="#">  <img loading="lazy" width="48px" height="48px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Cognitive_Abilities-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Cognitive_Abilities-icon_48x48.png"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Concentration' %}
                       <a href="#">  <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Concentration-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Concentration-icon_48x48.png"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Hand-eye Coordination' %}
                     <a href="#">    <img loading="lazy" width="48px" height="48px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Hand-eye_Coordination-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Hand-eye_Coordination-icon_48x48.png" > <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Observation' %}
                       <a href="https://www.skillmatics.in/collections/observation">  
                         <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Observation_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Observation_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Vocabulary' %}
                      <a href="#">   <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_48x48.png" > <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Focus & Attention' %}
                  <a href="https://www.skillmatics.in/collections/focus-and-attention">  <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Focus_Attention_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Focus_Attention_48x48.webp" width="48px" height="48px"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Spatial Reasoning' %}
                   <a href="https://www.skillmatics.in/collections/spatial-reasoning">  <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Spatial_Reasoning_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Spatial_Reasoning_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Social & Communication' %}
                   <a href="https://www.skillmatics.in/collections/social-and-communication">  <img  loading="lazy"width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Social_Communication_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Social_Communication_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                   {% if skill contains 'Fine Motor' %}
                    <a href="https://www.skillmatics.in/collections/fine-motor"> <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Fine_Motor_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Fine_Motor_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Process Planning' %}
                    <a href="https://www.skillmatics.in/collections/smart-planning-through-play"> <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Process_Planning_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Process_Planning_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Problem Solving' %}
                   <a href="https://www.skillmatics.in/collections/problem-solving">  <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Problem_Solving_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Problem_Solving_48x48.webp" > <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Reflective Thinking' %}
                    <a href="https://www.skillmatics.in/collections/play-that-sparks-thought">  <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reflective_Thinking_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reflective_Thinking_48x48.webp" > <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Mental Processing' %}
                   <a href="https://www.skillmatics.in/collections/mental-processing">  <img  loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mental_Processing_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mental_Processing_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Decision Making' %}
                   <a href="https://www.skillmatics.in/collections/decision-making">  <img loading="lazy" width="48px" height="48px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Decision_Making_48x48.webp"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Decision_Making_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Writing' %}
                    <a href="https://www.skillmatics.in/collections/exciting-stories-start-here"> <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Writing_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Writing_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                     {% if skill contains 'Critical Thinking' %}
    <a href="https://www.skillmatics.in/collections/critical-thinking"><img loading="lazy" width="48px" height="48px"  alt="Critical Thinking"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Critical_Thinking_48x48.webp"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Critical_Thinking_48x48.webp"> <span>{{ skill | strip }}</span></a>
      {% endif %}
                  {% if skill contains 'Creative Thinking' %}
                     <a href="https://www.skillmatics.in/collections/explore-your-creativity-1"> <img  loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Creative_Thnking_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Creative_Thnking_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Reading & Comprehension' %}
                  <a href="https://www.skillmatics.in/collections/engage-with-fun-reading-games">   <img loading="lazy"  width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reading_Comprehension_48x48.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reading_Comprehension_48x48.png"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  {% if skill contains 'Logical Reasoning' %}
                  <a href="https://www.skillmatics.in/collections/logical-reasoning"> <img loading="lazy" width="48px" height="48px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Logical_Reasoning_48x48.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Logical_Reasoning_48x48.webp"> <span>{{ skill | strip }}</span></a>
                  {% endif %}
                  
                  </div>
               
              {% endfor %}
       </div>
    </div>
{% endif %}

<style>
  .ProductInfo-KeySkills-Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ProductInfo-KeySkills-Container   .ProductInfo-Skill a {
    display: flex;
    align-items: center;
    gap: 10px;
}
  .KeySkills-Heading P {
    font-family: MikadoMedium;
    font-size: 20px;
    font-weight: 500;
  }

  .KeySkills-Skills {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ProductInfo-Skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-family: AvenirMedium;
    font-size: 16px;
    font-weight: 500;
  }

  .ProductInfo-Skill span {
    width: min-content;
  }

  .ProductInfo-Skill img {
    width: 48px;
  }

  @media (max-width: 890px) {
    .KeySkills-Heading P {
      font-size: 16px;
    }

    .ProductInfo-Skill {
      font-size: 12px;
      flex: 1 1 40%;
      justify-content: flex-start;
    }
    .ProductInfo-Skill img {
      width: 48px;
    }
  }
  
</style>