<nav class="panel-menu mobile-main-menu">
  <ul>
    {%- if item.show_categorie_button and settings.use_header_inline -%}
      <div class="CATEGORIE MOBILE"></div>
    {%- endif -%}
    {%- for link in linklists[mm].links -%}
      <li>
        <a id="skill_web_{{ link.handle |remove:'-'}}" href="{{ link.url }}" aria-label="{{ link.title | handle}}">
          {{- link.title -}}
        </a>

        {%- capture return -%}{%- include "get_linklist_dropdown", customlink: link -%}{%- endcapture -%}
        {%- assign return = return | split: '%%' -%}
        {%- assign has_drop_down = return | first | strip -%}
        {%- assign child_list_handle = return | last | strip -%}

        {%- assign level_2 = linklists[child_list_handle] -%}
        {%- if level_2.empty? -%}
          {%- assign child_list_handle = link.title | handle -%}
          {%- assign level_2 = linklists[child_list_handle] -%}
        {%- endif -%}

        {%- if level_2.links != blank -%}
          <ul>
            {%- for child_level_2 in level_2.links -%}
              <li>
                <a
                  id="skill_web_{{ child_level_2.handle |remove:'-'}}"
                  class=" cat-menu-icon cat-menu-{{ link.title | handle }} cat-child-{{ child_level_2.title  | handle }}"
                  href="{{ child_level_2.url }}"
                >
                  {%- render 'main-menu-img',
                    menu--name: child_level_2.title,
                    mainlink: link.title,
                    menuloop: forloop.index
                  -%}
                  {{- child_level_2.title -}}
                </a>

                {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_2 -%}{%- endcapture -%}
                {%- assign return = return | split: '%%' -%}
                {%- assign has_drop_down = return | first | strip -%}
                {%- assign child_list_handle = return | last | strip -%}

                {%- assign level_3 = linklists[child_list_handle] -%}
                {%- if level_3.empty? -%}
                  {%- assign child_list_handle = child_level_2.title | handle -%}
                  {%- assign level_3 = linklists[child_list_handle] -%}
                {%- endif -%}

                {%- if level_3.links != blank -%}
                  <ul>
                    {%- for child_level_3 in level_3.links -%}
                      <li>
                        <a href="{{ child_level_3.url }}">{{ child_level_3.title }}</a>

                        {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_3 -%}{%- endcapture -%}
                        {%- assign return = return | split: '%%' -%}
                        {%- assign has_drop_down = return | first | strip -%}
                        {%- assign child_list_handle = return | last | strip -%}

                        {%- assign level_4 = linklists[child_list_handle] -%}
                        {%- if level_4.empty? -%}
                          {%- assign child_list_handle = child_level_3.title | handle -%}
                          {%- assign level_4 = linklists[child_list_handle] -%}
                        {%- endif -%}

                        {%- if level_4.links != blank -%}
                          <ul>
                            {%- for child_level_4 in level_4.links -%}
                              <li>
                                <a href="{{ child_level_4.url | downcase }}">{{ child_level_4.title }}</a>

                                {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_4 -%}{%- endcapture -%}
                                {%- assign return = return | split: '%%' -%}
                                {%- assign has_drop_down = return | first | strip -%}
                                {%- assign child_list_handle = return | last | strip -%}

                                {%- if has_drop_down == 'true' -%}
                                  {%- assign level_5 = linklists[child_list_handle] -%}
                                  {%- unless level_5.empty? -%}
                                    <ul>
                                      {%- for child_level_5 in level_5.links -%}
                                        <li>
                                          <a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endunless -%}
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
            <li class="mob-custom-menu-submenu customsub-menu-{{ forloop.index }}">
              <a href="{{ link.url }}" class="tt-title-submenu shop-all-btn">Shop All</a>
            </li>
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
    <div class="mbl-whatsapp-icon">
      <a href="{{ section.settings.faq_link }}">FAQs</a>

      <a href="{{ section.settings.blog_link }}">Blogs</a>

      <a href="{{ section.settings.about_link }}">About Us</a>

      <!-- <a class="whatsapp-icon-head" href="https://wa.me/+918422822545">
        <p>Need Help?</p>
        {% render 'whatsapp-icon' %}
      </a> -->
    </div>
  </ul>
</nav>
