<div class="tt-item ccart-items"> 
    <div class="tt-item-img">
       <a href="{{item.url}}" title="{{ 'cart.header.view_product' | t }}">
      <img src="{{ item.image | product_img_url: 'small' }}" alt="{{ item.image.alt }}"></a>
    </div>
   
    <div class="tt-item-descriptions">
      <a href="{{item.url}}" title="{{ 'cart.header.view_product' | t }}"> <h2 class="tt-title">{{item.product.title}}</h2></a>
      {%- if item.variant.title != 'Default Title' -%}
      <ul class="tt-add-info">
        <li class="details">{{ item.variant.title | replace: ' / ', ', ' }}</li>
      </ul>
      {%- endif -%}
      <div class="tt-quantity">{{ item.quantity }} X</div> <div class="tt-price">{{ item.final_line_price | money }}</div>    
    {% comment %}  <div class="cart-dr-qty">
       <label for="updates_{{ item.key }}" class="visually-hidden">{{ item.name }}</label>
        <div class="cart-qty-btn">
           <div class="qty-button icon-minus {% if item.quantity < 1%} disable {% endif %}" >-</div>
          <input id="updates_{{ item.key }}" class="cart-qty-input" type="text" name="updates[]" value="{{ item.quantity }}" min="1" pattern="[0-9]*">
           <div class="qty-button icon-plus" >+</div>
        </div>
      </div>{% endcomment %} 
    </div> 
  <!-- -->
  <div class="tt-item-close">
    <a href="{{ routes.cart_change_url }}?id={{ item.variant.id }}&quantity=0" class="tt-btn-close svg-icon-delete header_delete_cartitem_js" title="{{ 'cart.header.button_delete' | t }}">
     {% comment %} {% include "svg-delete-icon" %}{% endcomment %}
    </a>
  </div>
</div>


