{%- assign image_max_width = item.image_max_width | append: 'x' -%}
{%- assign image_max_width_retina = item.image_max_width | times: 2 | append: 'x' -%}
{%- assign image_max_width_m = item.image_max_width_m | append: 'x' -%}
{%- assign image_max_width_retina_m = item.image_max_width_m | times: 2 | append: 'x' -%}

{%- capture badge_icons -%}
{%- if product_meta.icon_new != 'disable' and item.show_badge_new -%}{%- if date_difference < date_limit or product_meta.icon_new == 'always' -%}<div class="tt-label-new">{{ 'products.general.new' | t }}</div>{%- endif -%}{%- endif -%}
{%- unless product.available -%}<div class="tt-label-out-stock">{{ 'products.general.unavailable' | t }}</div>{%- endunless -%}
{%- if product_meta.featured != blank and item.show_badge_featured -%}<div class="tt-label tt-label-our-fatured">{{ product_meta.featured }}</div>{%- endif -%}
{%- endcapture -%}
{%- assign badge_icons = badge_icons | strip -%}

{%- assign pid = product.id | append:"" -%}
{%- assign wl = customer.metafields.wishlist -%}
{%- unless wl == blank -%}
{%- if wl[pid] == blank -%}
{%- assign wl_text = false -%}
{%- else -%}
{%- assign wl_text = true -%}
{%- endif -%}
{%- else -%}
{%- assign wl_text = false -%}
{%- endunless -%}

<div class="tt-product-single-info{% if item.stickygallery %} stickprcolheight-js{% endif %}">
  {%- if badge_icons != '' -%}
  <div class="tt-wrapper">
    <div class="tt-label">
      {{ badge_icons }}
    </div>
  </div>
  {%- endif -%}
  
  {%- if item.show_product_main_info -%}
  <div class="tt-add-info">
    <ul>
      {%- if item.show_sku -%}
      <li class="sku-js{% if product.selected_or_first_available_variant.sku == '' %} hide{% endif %}"><span>{{ 'products.product.sku' | t }}</span> <span>{{ product.selected_or_first_available_variant.sku }}</span></li>
      {%- endif -%}
      {%- if item.show_qiantity -%}
      <li class="availability">
        <span>{{ 'products.product.availability' | t }}</span>
        {% if product.available %}
        <span class="stock_quantity hide"></span> <span class="in_stock hide">{{ 'products.product.in_stock' | t }}</span> <span class="many_in_stock hide">{{ 'products.product.many_in_stock' | t }}</span> <span class="sold_out hide">{{ "products.product.sold_out" | t }}</span> <span class="continue_out hide">{{ "products.product.purchase_when_out_of_stock" | t }}</span>
        {% else %}
        <span class="sold_out">{{ "products.product.sold_out" | t }}</span>
        {% endif %}
      </li>
      {%- endif -%}
    </ul>
  </div>
  {%- endif -%}  

  <div class="pdp-shareable desktop-only">
  <h1 class="tt-title">{{ product.title }}</h1>
<!-- Start Areviews product title Rating Code -->
{% comment %}<div class='areviews_header_stars'></div>{% endcomment %}
<!-- End Areviews product title Rating Code -->

    
  <div class="pdp-sharebtn">{% render 'share-btn-code',product:product %}</div>
    </div>
   <div class="custom-reviewdiv">
     
     {% include 'manual-rating' %}
     
{% comment %}
 <script 
            type="text/javascript" 
            src="https://cdn.amzrw.reputon.com/assets/widget.js?shop=skillmaticsindia.myshopify.com" defer></script>
<div class="reputon-amazon-reviews-widget"
				  data-theme="light"
				  data-type="stars_widget"
				  data-product-reviews="true"
				  data-alignment="center">{% assign productId = product.id | append: "" %}{% assign productReviewsMetaField = product.metafields['ReputonAmazonReviews::ProductReviews'] %}{% if productId != "" and productReviewsMetaField != blank and productReviewsMetaField[productId] %}  <script>window.reputonAmazonProductReviewsData = {{ productReviewsMetaField[productId] }};</script>{% endif %}</div>
{% endcomment %}

  {% if product.metafields.custom.product_unit_sold_text.value != blank %} 
   <div class="clmn-unitsold"> | <span class="pdp-unitsold">{{product.metafields.custom.product_unit_sold_text.value }}</span> units sold</div>
    {% endif %}
     </div>

    {% if template.suffix == 'gift-card' %}
      <style>
        .product-description {
            font-size: 18px;
        }

        ul.tt-options-swatch li {
            margin: 0;
            width: 100%;
            display: flex;
            flex-basis: calc(25% - 10px);
            justify-content: center;
            flex-direction: column;
        }

        @media (max-width: 890px) {
          ul.tt-options-swatch li {
            flex-basis: calc(50% - 10px)
          }
        }

        .tt-product-single-info .tt-options-swatch {
            margin: 0;
            min-height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: 890px) {
          .tt-product-single-info .tt-options-swatch {
            gap: 10px;
          }
        }

        .pdp-sharebtn {
          margin: 0;
        }
        .pdp-shareable {
          justify-content: space-between;
        }

        .tt-title-options {
          display: none;
        }

        .pdp-custom-price {
          margin-top: 10px;
        }
      </style>
      <div class="product-description">{{ product.description }}</div>
    {% endif %}
  
   {% if settings.freegift-img and section.settings.freegift-img %}
          {% assign pprice = pr_variant.price |divided_by: 100 %}
       {% assign fprice =settings.free-gift-amt | strip | plus: 1 %}
         <!-- code below will show free gift tag  {{ pprice }}--{{ fprice }} -->      
          {% if pprice > fprice %} 
            <div class="desktop-only free-gift-img">
             <div class="freegift_badge_container pdp-freegift ">
               {% if settings.free-gift-img !=blank %}
              <img src="{{ settings.free-gift-img | img_url:'200x40' }}"  width="100%" height="40px" alt="freegift" class="freegift_badge">
            {% endif %}  
             </div>
            </div>
       {% endif %}         
       {% endif %}
    {%- if product.metafields.collections.view_similar_products.value != blank-%}
    <div class="tt-wrapper pdp-wrapper wishlist-btnpdp">
      <ul class="tt-list-btn">
        {% comment %} {%- if product.metafields.collections.view_similar_products.value != blank-%}
        <li class="mobile-only pdp-thumn-sim-btn">
          {% render 'view-similar-products',product:product %}
        </li>{% endif %} {% endcomment %}
         
        {%- if item.product_item_show_wishlist and settings.show_wishlist -%}
        <li class="mobile-only"><a href="{{ product.url | within: collection }}"
               data-productid="{{ product.id }}"
               data-add="{{ "wishlist.buttons_text.tooltip_add" | t }}"
               data-remove="{{ "wishlist.buttons_text.tooltip_remove" | t }}"
               data-tooltip="{{ "wishlist.buttons_text.tooltip_add" | t }}"
               data-type="wishlist"
               data-prpage-add="{{ "wishlist.buttons_text.page_text_add" | t }}"
               data-prpage-rem="{{ "wishlist.buttons_text.page_text_remove" | t }}"
               data-action="wk-add"
               class="inline-wk-link wlbutton-js prpagebtn-js">{% include "svg-heart" %}<span>{{ "wishlist.buttons_text.page_text_add" | t }}</span></a>
        </li>
        {%- endif -%}
        {%- if item.product_item_show_compare and settings.show_compare -%}
        <li class="mobile-only"><a href="{{ product.url | within: collection }}"
               data-action="wk-add"
               data-add="{{ "compare.buttons_text.tooltip_add" | t }}"
               data-remove="{{ "compare.buttons_text.tooltip_remove" | t }}"
               data-tooltip="{{ "compare.buttons_text.tooltip_add" | t }}"
               data-compareid="{{ pr_variant.id }}"
               data-prpage-add="{{ "compare.buttons_text.page_text_add" | t }}"
               data-prpage-rem="{{ "compare.buttons_text.page_text_remove" | t }}"
               class="inline-wk-link compare-js prpagebtn-js"
               >{% include "svg-compare" %}<span>{{ "compare.buttons_text.page_text_add" | t }}</span></a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    {%- endif -%}

<div id="pdp-peice-div" class="pdp-custom-price price">
  {%- unless settings.catalogue_mode -%}
  <div class="tt-price">
    {%- if sale_on -%}
    <span class="sale-price">{{ product.selected_or_first_available_variant.price | money }}</span>
    <span class="old-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
    
   {%- else -%}
    <span class="new-price">{{ product.selected_or_first_available_variant.price | money }}</span>
    <span class="old-price"></span>
    {%- endif -%}
  </div>     
 {%- if sale_on -%}
        {%- assign mc = pr_variant.compare_at_price | money_without_currency | replace: ',', '' -%}
        {%- assign mo = pr_variant.price | money_without_currency | replace: ',', '' -%}        
        {%- assign percent = mc | minus: mo | times: 100.0 | divided_by: mc | round | append: '%' -%}
        {%- endif -%}
        <span class="pdp-tt-label-sale tt-label-sale"{% unless sale_on %} style="display: none;"{% endunless %}>{{ 'products.general.sale_html' | t }} <span class="thumb_percent">{{ percent }}</span></span>
  </div>     
    {%- for block in section.blocks -%}
     

{%- endfor -%}

  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
  {%- if item.show_tax_text -%}
  <div class="tt-product-policies" data-product-policies>
    {%- if shop.taxes_included -%}
    {{ 'products.product.include_taxes' | t }}
    {%- endif -%}
    {%- if shop.shipping_policy.body != blank -%}
    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
    {%- endif -%}
  </div>
  {%- endif -%}
  {%- endif -%}

  {%- if item.show_review -%}
  <div class="tt-review">
    <div class="rating" data-tooltip="{{ 'general.tooltip_texts.view_review' | t }}"{%- if settings.selectedreviewaapp == 'alireviewapp' -%} data-ali="shopify-ali-review-widget"{%- endif -%}>
      {%- if settings.selectedreviewaapp == 'alireviewapp' -%}
      <div product-id="{{ product.id }}" class="alr-display-review-badge"></div>
      {%- else %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {%- endif -%}      
    </div>
  </div>
  {%- endif -%}
  {%- endunless -%}

  {%- unless product_meta.custom_html == blank -%}
  <div class="tt-wrapper">
    {{ product_meta.custom_html }}
  </div>
  {%- endunless -%}

  {%- unless settings.catalogue_mode -%}
  {%- unless product_meta.countdown == blank -%}
  <div class="tt-wrapper">
    <div class="tt-countdown_box_02 tt-type-02">
      <div class="tt-countdown_inner">
        <div class="tt-countdown" data-date="{{ product_meta.countdown }}">
        </div>
      </div>
    </div>
  </div>
  {%- endunless -%}
  {%- endunless -%}

  <div class="tt-swatches-container tt-swatches-container-js"></div>

  {%- assign m_sizechart = product_meta.sizechart -%}
  {%- capture sizechart -%}{% if m_sizechart != blank %}{{ m_sizechart }}{% else %}{{ item.popupcontent }}{% endif %}{%- endcapture -%}
  {%- assign m_shipping = product_meta.shipping -%}
  {%- capture shipping -%}{% if m_shipping != blank %}{{ m_shipping }}{% else %}{{ item.popupcontentshipping }}{% endif %}{%- endcapture -%}
  {%- if item.show_sizechart and sizechart != '' and sizechart != 'disable' -%}{% assign sch_a = true %}{%- else -%}{% assign sch_a = false %}{% endif -%}
  {%- if item.show_shipping and shipping != '' and shipping != 'disable' -%}{% assign shch_a = true %}{%- else -%}{% assign shch_a = false %}{% endif -%}
  {%- if item.show_message -%}{% assign schm_a = true %}{%- else -%}{% assign schm_a = false %}{% endif -%}
  {% if sch_a or shch_a or schm_a %}
  <div class="tt-wrapper product-information-buttons">
    {%- if sch_a -%}
    <a data-toggle="modal" data-target="#modalProductInfo" href="#">{{ item.btnname }}</a>
    {%- endif -%}
    {%- if shch_a -%}
    <a data-toggle="modal" data-target="#modalProductInfo-02" href="#">{{ item.btnname2 }}</a>
    {%- endif -%}
    {%- if schm_a -%}
    <a data-toggle="modal" data-target="#modalProductInfo-03" href="#" class="mespr">{{ item.btnname3 }}</a>
    {%- endif -%}
  </div>
  {%- endif -%}
  
 

  {%- unless settings.catalogue_mode -%}
  {%- capture product_select_options -%}{%- if product.selected_variant == blank and product.variants.size > 1 and item.use_select_button -%}true{%- else -%}false{%- endif -%}{%- endcapture -%}
  <div class="tt-wrapper{% if product_select_options == 'true' %} select_options{% endif %}">
    {%- form 'product', product -%}
    <input type="hidden" class="input_variant" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {% include "product_page_tabs-2" %}
    <div class="tt-row-custom-01 pdp-qty-atc">
       {% if product.price > 0 and product.handle !='gift-wrapping-paper' %}
      <div class="col-item pdp-btn-qty">
        <div class="tt-input-counter style-01">
          <span class="minus-btn"></span>
          <input class="quant" type="number" name="quantity" value="1" size="5" aria-label="Quantity" max="300">
          <span class="plus-btn"></span>
        </div>
      </div>{% endif %}
{% if product.price > 0 %}
      <div class="col-item pdp-btn-atc">     
          {% if product.metafields.custom.out_of_stock %}
           <button aria-label="Soldout" class="pdp-btncartbtn btn btn-lg disable">
             Sold Out
           </button>{% else %} 
        <button id="skill_pdp_pd_atc" aria-label="Add to cart" class="btn btn-lg btn-addtocart{% if settings.ajax_addtocart %} addtocart-js{% endif %}{% if product_select_options == 'false' and product.selected_variant.available == false %} disable{% endif %}  btn--atc- {% if product.selected_or_first_available_variant.inventory_management == 'shopify' and product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 %}
          stc-preorder{% endif %}"
                {%- if settings.show_addtocart_popup_related -%}{%- unless product.metafields.description.related_collection == blank -%}data-relatedcollection="{{ product.metafields.description.related_collection }}"{%- endunless -%}{%- endif -%}
                >
          {% if product_select_options == 'true' %}{{ 'products.general.select_options_html' | t }}
          {% else %}
          {% if product.selected_variant.available == 'false' %}{{ "products.general.unavailable_html" | t }}
          {% else %}
          {% if product.selected_or_first_available_variant.inventory_management == 'shopify' and product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 %}
          {{ "products.general.preorder_html" | t }}
          {% else %}
          
          {% else %}
          {{ "products.general.add_to_cart_html" | t }} 
            {% endif %}
            {% endif %}
            {% endif %}
        </button>{% endif %}
      </div>
      {% endif %}
    </div>
      
      {% if product.collections contains collections["all-products"] %}
        {% if product.available and product.variants.first.inventory_quantity > 0 %}
          <div class="pdp-gokwik buyinoneclick{% if product_select_options == 'true' %} hide{% endif %}" id="skill_pdp_pd_buynow" data-buttonname="{{ 'products.general.buy_now_button' | t }}"
            data-loading="{{ 'products.general.loading' | t }}">
            <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded" onclick="onBuyNowClick(this,'.shopify-product-form')" id="gokwik-buy-now" {% if settings.hideFlow %} style="display:none !important;" {% endif %}>
              {{ settings.buynow-titile }}
              <div style="display:none" class="addloadr" id="btn-loader">
                <div class="cir-loader">Loading..</div>
              </div>
            </button>
          </div>
        {% endif %}
      {% endif %}
      
    {%- if settings.buy_in_one_click -%}
    {% if settings.terms_cond_checkbox_show %}
    <div class="checkbox-group prpage-term-conditions-checkbox term-conditions-checkbox-js">
      <input type="checkbox" id="prpage-cart-term-conditions-checkbox" value="1">
      <label for="prpage-cart-term-conditions-checkbox">
        <span class="check"></span>
        <span class="box"></span>
        {{ settings.terms_cond_checkbox_text }}
      </label>
    </div>
    {% endif %}
    <!-- <div class="buyinoneclick{% if product_select_options == 'true' %} hide{% endif %}"
         data-buttonname="{{ 'products.general.buy_now_button' | t }}"
         data-loading="{{ 'products.general.loading' | t }}">
      {{ form | payment_button }}
    </div> -->
    {%- endif -%}
    {%- endform -%} 

  </div>
{%- endunless -%}
    {% if section.settings.estimate-date %}
   {% render 'pdp-delivery-date',item:item,section:section %}
      {% endif %}
  
  <p class="pdp-note">
    <b>Note:</b> Order by 12 PM for guaranteed 2-day delivery in Mumbai.
  </p>
  <!-- <p class="whats-text-pdp">
    <a href="https://wa.me/+918422822545">{% render 'whatsapp-icon' %} Want help with this purchase? Whatsapp Us</a>
  </p> -->
  
  {%- if item.show_trust_badge and item.page_design != "product_page_3_design" -%}{%- if item.image_l != blank -%}
  <div class="tt-wrapper">
  
    <div class="tt-promo-brand 1">
       {% comment %} <link rel="preload" href="{{ item.image_lm | img_url: 'master' }}" as="image" />{% endcomment %}
    
    
    {% render 'free-gift-desktop' %}
    
    {% render 'free-gift-mobile' %}
    </div>
  </div>
  {%- endif -%}{%- endif -%}
    {%- if item.show_trust_badge2 and item.page_design != "product_page_3_design" -%}{%- if item.image_l2 != blank -%}
  <div class="tt-wrapper">
    <div class="tt-promo-brand 2">
      <img width="450px" height="54px"  srcset="{{ item.image_l2 | img_url: "450x54" }}" src="{{ item.image_l2 | img_url: "450x54" }}" loading="eager" alt="{{ item.image_l2.alt }}" class="tt-hidden-mobile" >

      
<svg width="343" height="46" viewBox="0 0 343 46" fill="none" xmlns="http://www.w3.org/2000/svg" class="tt-hidden-desctope">
<rect width="343" height="46" rx="4" fill="#E9F4F9"/>
<g clip-path="url(#clip0_2704_8137)">
<rect x="11" y="9" width="28" height="28" rx="14" fill="#F5F7F8"/>
<path d="M21.7273 29.6891C22.2445 29.6891 22.7405 29.4836 23.1062 29.1179C23.4719 28.7522 23.6773 28.2562 23.6773 27.7391C23.6773 27.2219 23.4719 26.7259 23.1062 26.3602C22.7405 25.9945 22.2445 25.7891 21.7273 25.7891C21.2102 25.7891 20.7142 25.9945 20.3485 26.3602C19.9828 26.7259 19.7773 27.2219 19.7773 27.7391C19.7773 28.2562 19.9828 28.7522 20.3485 29.1179C20.7142 29.4836 21.2102 29.6891 21.7273 29.6891V29.6891ZM31.4773 29.6891C31.9945 29.6891 32.4905 29.4836 32.8562 29.1179C33.2219 28.7522 33.4273 28.2562 33.4273 27.7391C33.4273 27.2219 33.2219 26.7259 32.8562 26.3602C32.4905 25.9945 31.9945 25.7891 31.4773 25.7891C30.9602 25.7891 30.4642 25.9945 30.0985 26.3602C29.7328 26.7259 29.5273 27.2219 29.5273 27.7391C29.5273 28.2562 29.7328 28.7522 30.0985 29.1179C30.4642 29.4836 30.9602 29.6891 31.4773 29.6891V29.6891Z" stroke="#06374F" stroke-width="1.12902" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.7261 27.7401H28.5523V17.6001C28.5523 17.445 28.4907 17.2962 28.381 17.1865C28.2713 17.0768 28.1225 17.0151 27.9673 17.0151H14.9023M19.4361 27.7401H17.4373C17.3605 27.7401 17.2844 27.725 17.2135 27.6956C17.1425 27.6662 17.078 27.6231 17.0237 27.5688C16.9694 27.5145 16.9263 27.45 16.8969 27.379C16.8675 27.308 16.8523 27.232 16.8523 27.1551V22.3776" stroke="#06374F" stroke-width="1.12902" stroke-linecap="round"/>
<path d="M28.5469 19.9385H34.0166C34.1297 19.9385 34.2403 19.9713 34.3352 20.0329C34.43 20.0945 34.5049 20.1823 34.5509 20.2856L36.2962 24.2129C36.3294 24.2874 36.3467 24.3682 36.3469 24.4498V27.1535C36.3469 27.2303 36.3317 27.3064 36.3023 27.3773C36.2729 27.4483 36.2299 27.5128 36.1755 27.5671C36.1212 27.6215 36.0567 27.6645 35.9857 27.6939C35.9148 27.7233 35.8387 27.7385 35.7619 27.7385H33.9094M28.5469 27.7385H29.5219" stroke="#06374F" stroke-width="1.12902" stroke-linecap="round"/>
<path d="M14.625 18.8853H18.525" stroke="#06374F" stroke-width="1.12902" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.1094 20.7588H20.0094" stroke="#06374F" stroke-width="1.12902" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M46.08 19.986C45.94 20.112 44.33 20.154 44.19 20.056C44.134 19.258 44.036 11.446 44.092 10.214C44.624 10.144 50.238 10.144 50.504 10.228C50.616 10.396 50.588 11.544 50.532 11.852C50.28 11.894 47.032 11.866 45.954 11.838L45.996 14.918C47.032 14.904 49.552 14.932 49.65 14.974C49.79 15.072 49.706 16.416 49.706 16.458C49.706 16.514 47.228 16.5 46.024 16.472C46.052 17.508 46.094 19.356 46.08 19.986ZM55.5605 13.224C55.7565 13.322 55.5465 14.834 55.3505 15.058C55.1125 15.002 54.7345 14.932 54.4265 14.932C53.7545 14.946 53.2785 15.464 53.1385 16.136C53.1105 16.374 53.2085 19.972 53.1805 20.014C53.1525 20.07 51.4025 20.098 51.3745 20.014C51.3465 19.958 51.3465 13.672 51.3885 13.392C51.4725 13.182 52.9705 13.112 53.0685 13.238C53.0965 13.546 53.0685 14.162 53.0545 14.232C53.6005 13.308 54.6505 13.084 55.5605 13.224ZM57.8305 17.088C57.8305 18.068 58.5865 18.67 59.6225 18.67C60.4625 18.67 60.9805 18.362 61.3725 18.068C61.4845 18.166 61.9745 19.104 61.9885 19.286C61.6245 19.636 60.6865 20.126 59.5385 20.126C57.2145 20.126 56.1505 18.516 56.1505 16.71C56.1505 14.862 57.2985 13.154 59.4125 13.154C61.1625 13.154 62.2965 14.47 62.2965 15.982C62.2965 16.416 62.2545 16.752 62.1705 17.018C61.4845 17.116 58.7545 17.116 57.8305 17.088ZM57.8585 15.996L60.6865 15.968C60.7425 15.044 60.2385 14.428 59.3705 14.428C58.4465 14.428 57.8585 15.156 57.8585 15.996ZM64.9125 17.088C64.9125 18.068 65.6685 18.67 66.7045 18.67C67.5445 18.67 68.0625 18.362 68.4545 18.068C68.5665 18.166 69.0565 19.104 69.0705 19.286C68.7065 19.636 67.7685 20.126 66.6205 20.126C64.2965 20.126 63.2325 18.516 63.2325 16.71C63.2325 14.862 64.3805 13.154 66.4945 13.154C68.2445 13.154 69.3785 14.47 69.3785 15.982C69.3785 16.416 69.3365 16.752 69.2525 17.018C68.5665 17.116 65.8365 17.116 64.9125 17.088ZM64.9405 15.996L67.7685 15.968C67.8245 15.044 67.3205 14.428 66.4525 14.428C65.5285 14.428 64.9405 15.156 64.9405 15.996ZM76.066 20.196C74.708 20.196 73.56 19.594 73.35 19.314C73.252 19.202 73.868 18.026 73.952 18.096C74.162 18.25 74.988 18.88 75.912 18.88C76.654 18.88 77.032 18.586 77.032 18.166C77.032 17.718 76.71 17.522 75.716 17.354C74.106 17.074 73.364 16.472 73.364 15.324C73.364 13.938 74.358 13.112 75.996 13.112C77.284 13.112 78.236 13.546 78.446 13.77C78.544 13.854 77.998 15.03 77.9 15.03C77.844 15.044 77.032 14.47 76.122 14.47C75.38 14.47 75.072 14.834 75.072 15.212C75.072 15.646 75.366 15.842 76.374 15.982C77.942 16.206 78.754 16.766 78.754 17.984C78.754 19.216 77.9 20.196 76.066 20.196ZM80.0858 9.528C80.1558 9.43 81.7518 9.318 81.8078 9.57C81.8358 9.892 81.7798 13.826 81.7518 14.092C82.0318 13.644 82.7038 13.154 83.6978 13.154C85.4198 13.154 86.4418 14.246 86.4418 16.052C86.4418 16.934 86.3578 19.51 86.2738 19.958C86.2178 20.084 84.6498 20.056 84.6078 20.014C84.6078 19.734 84.6358 16.738 84.6358 16.192C84.6358 15.436 84.1878 14.694 83.3058 14.694C82.3678 14.694 81.8218 15.408 81.8218 16.094C81.8218 16.64 81.7938 20 81.7518 20.056C81.7238 20.112 80.1138 20.084 80.0718 20C80.0438 19.93 80.0298 10.97 80.0858 9.528ZM88.1105 13.224C88.1805 13.112 89.7765 13.168 89.8325 13.224C89.8885 13.266 89.8325 19.874 89.7765 19.972C89.7205 20.07 88.2085 20.028 88.1805 19.986C88.1665 19.944 88.0125 13.378 88.1105 13.224ZM87.9285 10.942C87.9285 10.298 88.1105 9.836 88.9785 9.836C89.6225 9.836 90.0705 10.27 90.0705 11.012C90.0705 11.53 89.6225 11.95 88.9785 11.95C88.3485 11.95 87.9285 11.586 87.9285 10.942ZM95.4745 13.098C97.1685 13.098 98.5405 14.302 98.5405 16.598C98.5405 18.74 97.1965 20.028 95.3625 20.042C94.4245 20.042 93.6125 19.636 93.3885 19.258C93.3885 20.182 93.4445 22.884 93.3465 22.954C93.2485 23.052 91.7785 23.108 91.5685 22.996C91.5405 22.982 91.5965 13.406 91.7225 13.084C91.7505 13.028 93.3465 13.14 93.3465 13.14C93.3465 13.322 93.3325 13.826 93.3325 14.008C93.5425 13.658 94.2705 13.098 95.4745 13.098ZM96.7205 16.612C96.7205 15.296 95.9785 14.764 95.0405 14.764C93.8925 14.764 93.3465 15.506 93.3465 16.584C93.3465 17.816 94.1305 18.488 95.0125 18.488C96.1185 18.488 96.7205 17.746 96.7205 16.612ZM103.801 13.098C105.495 13.098 106.867 14.302 106.867 16.598C106.867 18.74 105.523 20.028 103.689 20.042C102.751 20.042 101.939 19.636 101.715 19.258C101.715 20.182 101.771 22.884 101.673 22.954C101.575 23.052 100.105 23.108 99.8947 22.996C99.8667 22.982 99.9227 13.406 100.049 13.084C100.077 13.028 101.673 13.14 101.673 13.14C101.673 13.322 101.659 13.826 101.659 14.008C101.869 13.658 102.597 13.098 103.801 13.098ZM105.047 16.612C105.047 15.296 104.305 14.764 103.367 14.764C102.219 14.764 101.673 15.506 101.673 16.584C101.673 17.816 102.457 18.488 103.339 18.488C104.445 18.488 105.047 17.746 105.047 16.612ZM108.263 13.224C108.333 13.112 109.929 13.168 109.985 13.224C110.041 13.266 109.985 19.874 109.929 19.972C109.873 20.07 108.361 20.028 108.333 19.986C108.319 19.944 108.165 13.378 108.263 13.224ZM108.081 10.942C108.081 10.298 108.263 9.836 109.131 9.836C109.775 9.836 110.223 10.27 110.223 11.012C110.223 11.53 109.775 11.95 109.131 11.95C108.501 11.95 108.081 11.586 108.081 10.942ZM111.763 13.378C111.861 13.224 113.373 13.154 113.471 13.28C113.471 13.56 113.457 14.05 113.443 14.148C113.723 13.658 114.549 13.112 115.585 13.112C117.055 13.112 118.077 14.246 118.077 16.052C118.077 16.934 118.021 19.314 117.965 20.028C117.951 20.182 116.355 20.126 116.313 20.098C116.243 20.07 116.341 16.738 116.341 16.192C116.341 15.324 115.893 14.68 114.997 14.68C114.059 14.68 113.485 15.38 113.485 16.052C113.485 16.598 113.457 19.916 113.415 19.958C113.387 20.028 111.805 19.986 111.763 19.902C111.749 19.846 111.735 16.304 111.763 13.378ZM124.703 13.238C124.857 13.126 126.215 13.196 126.229 13.238C126.285 13.504 126.355 17.956 126.369 18.614C126.397 22.002 124.857 23.024 122.981 23.024C121.455 23.024 120.349 22.352 120.181 22.044C120.279 21.694 120.587 21.078 120.769 20.854C120.853 20.798 121.609 21.54 122.785 21.54C124.157 21.54 124.647 20.574 124.633 19.048C124.395 19.44 123.723 19.986 122.561 19.986C120.881 19.958 119.369 18.684 119.369 16.654C119.369 14.554 120.811 13.182 122.617 13.182C123.555 13.182 124.255 13.574 124.703 14.078C124.703 13.91 124.717 13.406 124.703 13.238ZM121.245 16.668C121.245 17.802 121.889 18.53 122.953 18.53C123.877 18.53 124.661 17.928 124.661 16.696C124.661 15.618 124.115 14.82 122.967 14.82C122.029 14.82 121.245 15.352 121.245 16.668ZM48.586 31.696C48.586 30.268 47.802 29.848 46.934 29.834C45.758 29.82 45.184 30.604 45.184 31.696C45.184 32.956 45.968 33.6 46.822 33.6C47.984 33.614 48.586 32.914 48.586 31.696ZM46.864 28.154C48.796 28.154 50.28 29.428 50.28 31.71C50.28 33.572 49.062 35.112 46.892 35.154C44.974 35.154 43.504 33.824 43.504 31.57C43.504 29.848 44.736 28.154 46.864 28.154ZM50.8689 28.42C50.8689 28.308 52.2129 28.084 52.4089 28.084C52.5349 28.084 54.2149 33.026 54.2149 33.026C54.2149 33.026 56.1189 28.112 56.2029 28.098C56.3009 28.084 57.8269 28.42 57.8129 28.49C57.6169 29.358 55.0409 35.028 54.9849 35.098C54.8029 35.252 53.3049 35.07 53.2909 35.042C53.2769 35.014 50.8549 28.784 50.8689 28.42ZM59.9633 32.088C59.9633 33.068 60.7193 33.67 61.7553 33.67C62.5953 33.67 63.1133 33.362 63.5053 33.068C63.6173 33.166 64.1073 34.104 64.1213 34.286C63.7573 34.636 62.8193 35.126 61.6713 35.126C59.3473 35.126 58.2833 33.516 58.2833 31.71C58.2833 29.862 59.4313 28.154 61.5453 28.154C63.2953 28.154 64.4293 29.47 64.4293 30.982C64.4293 31.416 64.3873 31.752 64.3033 32.018C63.6173 32.116 60.8873 32.116 59.9633 32.088ZM59.9913 30.996L62.8193 30.968C62.8753 30.044 62.3713 29.428 61.5033 29.428C60.5793 29.428 59.9913 30.156 59.9913 30.996ZM69.9433 28.224C70.1393 28.322 69.9293 29.834 69.7333 30.058C69.4953 30.002 69.1173 29.932 68.8093 29.932C68.1373 29.946 67.6613 30.464 67.5213 31.136C67.4933 31.374 67.5913 34.972 67.5633 35.014C67.5353 35.07 65.7853 35.098 65.7573 35.014C65.7293 34.958 65.7293 28.672 65.7713 28.392C65.8553 28.182 67.3533 28.112 67.4513 28.238C67.4793 28.546 67.4513 29.162 67.4373 29.232C67.9833 28.308 69.0333 28.084 69.9433 28.224ZM75.9224 35.014C75.8104 35.07 74.1024 35.112 74.0884 35.028C74.0184 34.566 74.0604 25.998 74.1724 25.326C74.6624 25.256 76.1744 25.172 77.3084 25.172C79.8564 25.172 81.3264 26.194 81.3264 28.504C81.3264 30.016 80.5144 30.898 79.3524 31.318C80.4584 32.634 81.6904 34.454 81.6484 34.51C81.5224 34.706 80.3044 35.196 79.9824 35.196C79.9404 35.21 78.6244 33.18 77.3924 31.654H77.1404C76.7624 31.654 76.2024 31.626 75.9784 31.612C75.9644 32.256 75.9924 34.552 75.9224 35.014ZM76.0764 30.086C76.4124 30.1 76.9864 30.128 77.4064 30.128C78.5544 30.128 79.3804 29.638 79.3804 28.546C79.3804 27.51 78.8064 26.838 77.3644 26.838C76.9304 26.838 76.4544 26.852 76.0624 26.908C76.0624 27.16 76.0624 29.596 76.0764 30.086ZM85.2945 35.196C83.9365 35.196 82.7885 34.594 82.5785 34.314C82.4805 34.202 83.0965 33.026 83.1805 33.096C83.3905 33.25 84.2165 33.88 85.1405 33.88C85.8825 33.88 86.2605 33.586 86.2605 33.166C86.2605 32.718 85.9385 32.522 84.9445 32.354C83.3345 32.074 82.5925 31.472 82.5925 30.324C82.5925 28.938 83.5865 28.112 85.2245 28.112C86.5125 28.112 87.4645 28.546 87.6745 28.77C87.7725 28.854 87.2265 30.03 87.1285 30.03C87.0725 30.044 86.2605 29.47 85.3505 29.47C84.6085 29.47 84.3005 29.834 84.3005 30.212C84.3005 30.646 84.5945 30.842 85.6025 30.982C87.1705 31.206 87.9825 31.766 87.9825 32.984C87.9825 34.216 87.1285 35.196 85.2945 35.196ZM91.6243 33.824C91.6243 34.678 91.0923 35.168 90.1403 35.14C89.5943 35.126 89.0063 34.622 89.0063 33.866C89.0063 33.012 89.5243 32.508 90.4623 32.55C91.0223 32.592 91.6243 32.9 91.6243 33.824ZM101.68 35C101.176 35.112 100.504 35.112 99.9859 34.93V33.04C99.6359 33.054 96.2339 33.082 95.6879 33.054C95.6179 32.788 95.4779 31.976 95.5059 31.668C95.8279 30.898 99.1179 25.998 99.8459 25.088C100.266 25.088 101.358 25.172 101.722 25.354L101.708 31.556C101.708 31.556 102.828 31.57 103.066 31.584C103.122 31.696 103.066 32.998 103.066 32.998C103.066 33.012 101.666 33.026 101.652 33.026C101.652 33.026 101.68 34.972 101.68 35ZM100.098 27.426L100.042 27.412C99.7899 27.762 97.5499 31.052 97.3119 31.584L99.9999 31.57L100.098 27.426ZM107.783 35.238C105.305 35.238 104.115 33.544 104.115 30.198C104.115 26.67 105.515 25.06 107.699 25.06C109.841 25.06 111.381 26.586 111.381 30.24C111.381 33.39 110.135 35.238 107.783 35.238ZM107.713 33.628C109.001 33.628 109.533 32.424 109.533 30.324C109.533 28.098 109.001 26.768 107.713 26.768C106.425 26.768 105.865 28.056 105.865 30.282C105.865 32.368 106.397 33.628 107.713 33.628ZM116.369 35.238C113.891 35.238 112.701 33.544 112.701 30.198C112.701 26.67 114.101 25.06 116.285 25.06C118.427 25.06 119.967 26.586 119.967 30.24C119.967 33.39 118.721 35.238 116.369 35.238ZM116.299 33.628C117.587 33.628 118.119 32.424 118.119 30.324C118.119 28.098 117.587 26.768 116.299 26.768C115.011 26.768 114.451 28.056 114.451 30.282C114.451 32.368 114.983 33.628 116.299 33.628Z" fill="#06374F"/>
</g>
<g clip-path="url(#clip1_2704_8137)">
<rect x="140" y="9" width="28" height="28" rx="14" fill="#F5F7F8"/>
<path d="M144.875 22.0322L147.604 18.9629C147.969 18.5523 148.417 18.2237 148.918 17.9986C149.419 17.7736 149.962 17.6572 150.511 17.6572H150.708M144.875 30.2961H150.222L154.111 27.3795C154.111 27.3795 154.899 26.8476 156.056 25.9211C158.486 23.9767 156.056 20.8986 153.625 22.5183C151.646 23.8376 149.736 24.9489 149.736 24.9489" stroke="#06374F" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M150.707 24.4631V18.1437C150.707 17.628 150.912 17.1334 151.277 16.7687C151.641 16.4041 152.136 16.1992 152.651 16.1992H162.374C162.889 16.1992 163.384 16.4041 163.749 16.7687C164.113 17.1334 164.318 17.628 164.318 18.1437V23.977C164.318 24.4927 164.113 24.9873 163.749 25.3519C163.384 25.7166 162.889 25.9214 162.374 25.9214H156.054" stroke="#06374F" stroke-width="1.16667"/>
<path d="M161.898 21.0704L161.908 21.0597M153.148 21.0704L153.158 21.0597M157.523 23.0051C157.008 23.0051 156.513 22.8002 156.149 22.4356C155.784 22.0709 155.579 21.5764 155.579 21.0607C155.579 20.545 155.784 20.0504 156.149 19.6857C156.513 19.3211 157.008 19.1162 157.523 19.1162C158.039 19.1162 158.534 19.3211 158.898 19.6857C159.263 20.0504 159.468 20.545 159.468 21.0607C159.468 21.5764 159.263 22.0709 158.898 22.4356C158.534 22.8002 158.039 23.0051 157.523 23.0051Z" stroke="#06374F" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M174.604 15.1C174.604 17.284 175.808 18.46 177.376 18.46C178.552 18.46 179.448 17.816 179.77 17.564C180.036 17.76 180.498 18.6 180.666 18.978C180.134 19.566 178.748 20.252 177.208 20.252C174.086 20.252 172.602 17.97 172.602 15.044C172.602 12.258 174.478 10.06 177.516 10.06C179.028 10.06 180.134 10.55 180.596 10.956C180.61 11.18 180.12 12.314 179.854 12.552C179.35 12.216 178.496 11.838 177.53 11.838C175.864 11.838 174.604 13.252 174.604 15.1ZM185.958 10.018C188.828 10.018 190.648 11.964 190.648 15.212C190.648 17.676 189.304 20.28 186 20.28C183.074 20.28 181.324 18.054 181.324 15.072C181.324 12.524 182.836 10.018 185.958 10.018ZM188.618 15.072C188.618 12.958 187.582 11.768 186.014 11.768C184.236 11.768 183.298 13.182 183.298 15.17C183.298 16.99 184.306 18.502 185.944 18.502C187.82 18.502 188.618 17.074 188.618 15.072ZM192.356 19.958C192.286 19.118 192.37 11.068 192.454 10.256C192.762 10.172 194.148 10.144 195.24 10.144C198.474 10.144 200.448 12.286 200.448 15.114C200.448 18.04 198.894 20.154 195.114 20.154C193.952 20.154 192.664 20.056 192.356 19.958ZM198.46 15.226C198.46 13.252 197.074 11.922 195.226 11.922C194.75 11.922 194.484 11.936 194.246 11.964C194.274 13.882 194.19 16.402 194.176 18.32C194.484 18.362 194.834 18.404 195.268 18.404C196.64 18.404 198.46 17.984 198.46 15.226ZM172.616 29.554C172.658 29.316 173.54 28.084 175.304 28.084C177.082 28.084 178.23 29.134 178.23 31.164C178.23 32.578 178.146 34.86 178.118 34.93C178.076 35.014 176.69 34.93 176.69 34.93L176.606 34.328C176.396 34.538 175.794 35.084 174.758 35.084C173.134 35.084 172.448 34.132 172.448 32.998C172.448 31.682 173.554 30.856 174.996 30.856C175.738 30.856 176.214 31.094 176.508 31.36C176.508 30.366 176.382 29.61 175.08 29.61C174.016 29.61 173.666 30.324 173.54 30.338C173.414 30.352 172.616 29.68 172.616 29.554ZM173.946 32.956C173.946 33.544 174.478 33.95 175.192 33.95C176.018 33.95 176.452 33.46 176.452 32.942C176.452 32.298 175.906 31.906 175.178 31.906C174.45 31.906 173.946 32.382 173.946 32.956ZM179.131 28.42C179.131 28.308 180.475 28.084 180.671 28.084C180.797 28.084 182.477 33.026 182.477 33.026C182.477 33.026 184.381 28.112 184.465 28.098C184.563 28.084 186.089 28.42 186.075 28.49C185.879 29.358 183.303 35.028 183.247 35.098C183.065 35.252 181.567 35.07 181.553 35.042C181.539 35.014 179.117 28.784 179.131 28.42ZM186.739 29.554C186.781 29.316 187.663 28.084 189.427 28.084C191.205 28.084 192.353 29.134 192.353 31.164C192.353 32.578 192.269 34.86 192.241 34.93C192.199 35.014 190.813 34.93 190.813 34.93L190.729 34.328C190.519 34.538 189.917 35.084 188.881 35.084C187.257 35.084 186.571 34.132 186.571 32.998C186.571 31.682 187.677 30.856 189.119 30.856C189.861 30.856 190.337 31.094 190.631 31.36C190.631 30.366 190.505 29.61 189.203 29.61C188.139 29.61 187.789 30.324 187.663 30.338C187.537 30.352 186.739 29.68 186.739 29.554ZM188.069 32.956C188.069 33.544 188.601 33.95 189.315 33.95C190.141 33.95 190.575 33.46 190.575 32.942C190.575 32.298 190.029 31.906 189.301 31.906C188.573 31.906 188.069 32.382 188.069 32.956ZM194.019 28.224C194.089 28.112 195.685 28.168 195.741 28.224C195.797 28.266 195.741 34.874 195.685 34.972C195.629 35.07 194.117 35.028 194.089 34.986C194.075 34.944 193.921 28.378 194.019 28.224ZM193.837 25.942C193.837 25.298 194.019 24.836 194.887 24.836C195.531 24.836 195.979 25.27 195.979 26.012C195.979 26.53 195.531 26.95 194.887 26.95C194.257 26.95 193.837 26.586 193.837 25.942ZM197.715 24.528C197.897 24.388 199.213 24.388 199.269 24.486C199.367 24.64 199.171 34.02 199.101 35.084C199.101 35.084 197.701 35.098 197.603 35.014C197.491 34.93 197.491 24.696 197.715 24.528ZM200.739 29.554C200.781 29.316 201.663 28.084 203.427 28.084C205.205 28.084 206.353 29.134 206.353 31.164C206.353 32.578 206.269 34.86 206.241 34.93C206.199 35.014 204.813 34.93 204.813 34.93L204.729 34.328C204.519 34.538 203.917 35.084 202.881 35.084C201.257 35.084 200.571 34.132 200.571 32.998C200.571 31.682 201.677 30.856 203.119 30.856C203.861 30.856 204.337 31.094 204.631 31.36C204.631 30.366 204.505 29.61 203.203 29.61C202.139 29.61 201.789 30.324 201.663 30.338C201.537 30.352 200.739 29.68 200.739 29.554ZM202.069 32.956C202.069 33.544 202.601 33.95 203.315 33.95C204.141 33.95 204.575 33.46 204.575 32.942C204.575 32.298 204.029 31.906 203.301 31.906C202.573 31.906 202.069 32.382 202.069 32.956ZM211.785 35.112C210.679 35.112 209.881 34.482 209.643 34.16C209.657 34.328 209.671 34.888 209.657 35.056C209.517 35.098 208.215 35.126 208.187 35.07C208.131 34.79 207.739 24.85 208.005 24.542C208.229 24.318 209.727 24.486 209.783 24.556C209.839 24.612 209.867 28.434 209.853 29.05C210.077 28.658 210.889 28.14 211.925 28.14C213.577 28.168 214.837 29.442 214.837 31.5C214.837 33.978 213.423 35.112 211.785 35.112ZM213.157 31.612C213.157 30.464 212.429 29.722 211.407 29.722C210.427 29.722 209.713 30.338 209.713 31.584C209.713 32.676 210.301 33.488 211.393 33.488C212.401 33.488 213.157 32.928 213.157 31.612ZM216.432 24.528C216.614 24.388 217.93 24.388 217.986 24.486C218.084 24.64 217.888 34.02 217.818 35.084C217.818 35.084 216.418 35.098 216.32 35.014C216.208 34.93 216.208 24.696 216.432 24.528ZM221.024 32.088C221.024 33.068 221.78 33.67 222.816 33.67C223.656 33.67 224.174 33.362 224.566 33.068C224.678 33.166 225.168 34.104 225.182 34.286C224.818 34.636 223.88 35.126 222.732 35.126C220.408 35.126 219.344 33.516 219.344 31.71C219.344 29.862 220.492 28.154 222.606 28.154C224.356 28.154 225.49 29.47 225.49 30.982C225.49 31.416 225.448 31.752 225.364 32.018C224.678 32.116 221.948 32.116 221.024 32.088ZM221.052 30.996L223.88 30.968C223.936 30.044 223.432 29.428 222.564 29.428C221.64 29.428 221.052 30.156 221.052 30.996Z" fill="#06374F"/>
</g>
<g clip-path="url(#clip2_2704_8137)">
<rect x="238" y="9" width="28" height="28" rx="14" fill="#F5F7F8"/>
<path d="M257.877 16.28H246.117C245.19 16.28 244.438 17.0322 244.438 17.96V29.72C244.438 30.6479 245.19 31.4 246.117 31.4H257.877C258.805 31.4 259.557 30.6479 259.557 29.72V17.96C259.557 17.0322 258.805 16.28 257.877 16.28Z" stroke="#06374F" stroke-width="1.05" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M255.357 14.5996V17.9596M248.637 14.5996V17.9596M244.438 21.3196H259.557M248.637 24.6796H248.646M251.997 24.6796H252.006M255.357 24.6796H255.366M248.637 28.0396H248.646M251.997 28.0396H252.006M255.357 28.0396H255.366" stroke="#06374F" stroke-width="1.05" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M275.334 14.96V15.044C275.768 15.156 276.874 15.73 276.874 17.298C276.874 19.16 275.306 20.154 273.5 20.154C271.918 20.154 270.784 19.496 270.434 19.104C270.392 18.936 270.994 17.998 271.316 17.858C271.666 18.166 272.352 18.558 273.304 18.558C274.396 18.558 275.026 17.97 275.026 17.144C275.026 16.332 274.452 15.772 273.276 15.772H271.862C271.736 15.59 271.708 14.386 271.876 14.26C272.212 14.26 272.926 14.288 273.43 14.288C273.934 14.288 274.802 14.008 274.802 13C274.802 12.118 274.088 11.642 273.29 11.642C272.45 11.642 271.932 12.034 271.596 12.37C271.372 12.342 270.728 11.488 270.574 11.264C271.036 10.718 271.988 10.032 273.514 10.032C275.292 10.032 276.58 11.068 276.58 12.748C276.58 14.022 275.74 14.764 275.334 14.96ZM281.818 20.238C279.34 20.238 278.15 18.544 278.15 15.198C278.15 11.67 279.55 10.06 281.734 10.06C283.876 10.06 285.416 11.586 285.416 15.24C285.416 18.39 284.17 20.238 281.818 20.238ZM281.748 18.628C283.036 18.628 283.568 17.424 283.568 15.324C283.568 13.098 283.036 11.768 281.748 11.768C280.46 11.768 279.9 13.056 279.9 15.282C279.9 17.368 280.432 18.628 281.748 18.628ZM290.642 15.296C290.768 15.52 290.656 16.612 290.642 16.612C290.614 16.626 287.506 16.724 287.044 16.682C286.89 16.542 286.876 15.408 286.918 15.38C286.974 15.366 290.572 15.226 290.642 15.296ZM295.159 20.056C293.493 20.056 292.037 18.866 292.037 16.57C292.037 14.554 293.493 13.21 295.257 13.196C296.209 13.196 296.993 13.714 297.231 14.078C297.231 13.14 297.231 9.612 297.315 9.542C297.413 9.444 298.911 9.388 299.121 9.5C299.149 9.514 298.967 19.72 298.925 19.986C298.911 20.028 297.665 20.126 297.329 19.986C297.329 19.818 297.301 19.3 297.301 19.132C297.063 19.454 296.293 20.056 295.159 20.056ZM293.885 16.64C293.885 17.942 294.697 18.474 295.621 18.474C296.783 18.474 297.315 17.69 297.315 16.612C297.315 15.38 296.531 14.778 295.607 14.778C294.557 14.778 293.885 15.492 293.885 16.64ZM300.516 14.554C300.558 14.316 301.44 13.084 303.204 13.084C304.982 13.084 306.13 14.134 306.13 16.164C306.13 17.578 306.046 19.86 306.018 19.93C305.976 20.014 304.59 19.93 304.59 19.93L304.506 19.328C304.296 19.538 303.694 20.084 302.658 20.084C301.034 20.084 300.348 19.132 300.348 17.998C300.348 16.682 301.454 15.856 302.896 15.856C303.638 15.856 304.114 16.094 304.408 16.36C304.408 15.366 304.282 14.61 302.98 14.61C301.916 14.61 301.566 15.324 301.44 15.338C301.314 15.352 300.516 14.68 300.516 14.554ZM301.846 17.956C301.846 18.544 302.378 18.95 303.092 18.95C303.918 18.95 304.352 18.46 304.352 17.942C304.352 17.298 303.806 16.906 303.078 16.906C302.35 16.906 301.846 17.382 301.846 17.956ZM313.793 13.476C313.499 14.484 309.817 22.688 309.509 23.136C309.117 23.15 307.969 22.604 307.885 22.478C307.927 22.31 309.103 19.874 309.369 19.174C309.033 18.502 306.975 13.798 306.989 13.42C306.989 13.308 308.347 13.084 308.543 13.084C308.739 13.084 310.349 17.396 310.349 17.396C310.349 17.396 312.113 13.112 312.197 13.098C312.295 13.084 313.765 13.392 313.793 13.476ZM275.082 28.224C275.278 28.322 275.068 29.834 274.872 30.058C274.634 30.002 274.256 29.932 273.948 29.932C273.276 29.946 272.8 30.464 272.66 31.136C272.632 31.374 272.73 34.972 272.702 35.014C272.674 35.07 270.924 35.098 270.896 35.014C270.868 34.958 270.868 28.672 270.91 28.392C270.994 28.182 272.492 28.112 272.59 28.238C272.618 28.546 272.59 29.162 272.576 29.232C273.122 28.308 274.172 28.084 275.082 28.224ZM277.352 32.088C277.352 33.068 278.108 33.67 279.144 33.67C279.984 33.67 280.502 33.362 280.894 33.068C281.006 33.166 281.496 34.104 281.51 34.286C281.146 34.636 280.208 35.126 279.06 35.126C276.736 35.126 275.672 33.516 275.672 31.71C275.672 29.862 276.82 28.154 278.934 28.154C280.684 28.154 281.818 29.47 281.818 30.982C281.818 31.416 281.776 31.752 281.692 32.018C281.006 32.116 278.276 32.116 277.352 32.088ZM277.38 30.996L280.208 30.968C280.264 30.044 279.76 29.428 278.892 29.428C277.968 29.428 277.38 30.156 277.38 30.996ZM285.387 29.68C285.387 29.736 285.317 31.794 285.303 32.704C285.289 33.25 285.527 33.628 286.087 33.628C286.689 33.642 287.109 33.264 287.249 33.278C287.417 33.32 287.683 34.3 287.683 34.538C287.683 34.538 287.053 35.21 285.709 35.182C284.225 35.168 283.553 34.314 283.567 33.04C283.581 32.326 283.693 29.596 283.693 29.596C283.693 29.582 282.643 29.582 282.573 29.526C282.503 29.47 282.475 28.196 282.573 28.168C282.629 28.168 283.693 28.21 283.735 28.168C283.777 28.14 283.721 26.628 283.847 26.502C283.973 26.39 285.429 26.306 285.485 26.362C285.555 26.432 285.429 28.238 285.443 28.224C285.471 28.21 287.291 28.182 287.417 28.336C287.557 28.476 287.445 29.61 287.445 29.61C287.347 29.736 285.387 29.596 285.387 29.68ZM294.8 35.028C294.688 35.21 293.302 35.14 293.19 35.014C293.204 34.734 293.19 34.286 293.204 34.202C292.868 34.678 292.056 35.224 291.09 35.224C289.368 35.224 288.57 34.188 288.57 32.354C288.57 31.332 288.724 28.896 288.78 28.238C288.808 28.084 290.39 28.154 290.446 28.196C290.46 28.462 290.32 31.57 290.32 32.214C290.32 33.138 290.74 33.67 291.636 33.684C292.574 33.684 293.134 32.998 293.148 32.2C293.148 31.766 293.232 28.294 293.274 28.252C293.316 28.182 294.87 28.21 294.926 28.294C294.926 28.35 294.856 32.116 294.8 35.028ZM300.84 28.224C301.036 28.322 300.826 29.834 300.63 30.058C300.392 30.002 300.014 29.932 299.706 29.932C299.034 29.946 298.558 30.464 298.418 31.136C298.39 31.374 298.488 34.972 298.46 35.014C298.432 35.07 296.682 35.098 296.654 35.014C296.626 34.958 296.626 28.672 296.668 28.392C296.752 28.182 298.25 28.112 298.348 28.238C298.376 28.546 298.348 29.162 298.334 29.232C298.88 28.308 299.93 28.084 300.84 28.224ZM301.999 28.378C302.097 28.224 303.609 28.154 303.707 28.28C303.707 28.56 303.693 29.05 303.679 29.148C303.959 28.658 304.785 28.112 305.821 28.112C307.291 28.112 308.313 29.246 308.313 31.052C308.313 31.934 308.257 34.314 308.201 35.028C308.187 35.182 306.591 35.126 306.549 35.098C306.479 35.07 306.577 31.738 306.577 31.192C306.577 30.324 306.129 29.68 305.233 29.68C304.295 29.68 303.721 30.38 303.721 31.052C303.721 31.598 303.693 34.916 303.651 34.958C303.623 35.028 302.041 34.986 301.999 34.902C301.985 34.846 301.971 31.304 301.999 28.378ZM312.336 35.196C310.978 35.196 309.83 34.594 309.62 34.314C309.522 34.202 310.138 33.026 310.222 33.096C310.432 33.25 311.258 33.88 312.182 33.88C312.924 33.88 313.302 33.586 313.302 33.166C313.302 32.718 312.98 32.522 311.986 32.354C310.376 32.074 309.634 31.472 309.634 30.324C309.634 28.938 310.628 28.112 312.266 28.112C313.554 28.112 314.506 28.546 314.716 28.77C314.814 28.854 314.268 30.03 314.17 30.03C314.114 30.044 313.302 29.47 312.392 29.47C311.65 29.47 311.342 29.834 311.342 30.212C311.342 30.646 311.636 30.842 312.644 30.982C314.212 31.206 315.024 31.766 315.024 32.984C315.024 34.216 314.17 35.196 312.336 35.196Z" fill="#06374F"/>
</g>
<defs>
<clipPath id="clip0_2704_8137">
<rect width="117" height="30" fill="white" transform="translate(11 8)"/>
</clipPath>
<clipPath id="clip1_2704_8137">
<rect width="86" height="30" fill="white" transform="translate(140 8)"/>
</clipPath>
<clipPath id="clip2_2704_8137">
<rect width="78" height="30" fill="white" transform="translate(238 8)"/>
</clipPath>
</defs>
</svg>
    </div>
  </div>
  {%- endif -%}{%- endif -%}
  {%- include "theme_selector" -%}

  {%- if item.show_product_info -%}
  <div class="tt-wrapper">
    <div class="tt-add-info">
      <ul>
        {%- if item.show_product_vendor -%}<li><span>{{ "products.product.vendor" | t }}</span> <a href="{{ routes.collections_url }}/{% if collection == blank %}all{% else %}{{ collection.handle }}{% endif %}?filter.p.vendor={{ product.vendor | downcase | excape | replace: ' ','+' }}">{{ product.vendor }}</a></li>{%- endif -%}
        {%- if item.show_product_type and product.type != '' -%}<li><span>{{ "products.product.type" | t }}</span> <a href="{{ routes.collections_url }}/{% if collection == blank %}all{% else %}{{ collection.handle }}{% endif %}?filter.p.product_type={{ product.type | downcase | excape | replace: ' ','+' }}">{{ product.type }}</a></li>{%- endif -%}
        {%- if item.show_product_barcode -%}<li{% if product.selected_or_first_available_variant.barcode == '' or product.selected_or_first_available_variant.barcode == empty? %} class="hide"{% endif %}><span>{{ "products.product.barcode" | t }}</span> <span class="barcode">{{ product.selected_or_first_available_variant.barcode }}</span></li>{%- endif -%}
        {%- if item.show_product_tags -%}
        {%- assign collection = collections.all -%}
        {%- assign custom_url = '/collections/all/' -%}
        {%- capture ppt -%}{%- include 'product_page_tags' -%}{%- endcapture -%}{%- if ppt != '' and ppt != '!' -%}
        <li><span>{{ "products.product.tags" | t }}</span>&nbsp;{{ ppt | replace: ',&nbsp;!' }}</li>
        {%- endif -%}{%- endif -%}
      </ul>
    </div>
  </div>
  {%- endif -%}

  {% if item.full_width_description == "default" %}{% include "product_page_tabs" %}{% endif %}

</div>

{%- if settings.first_variant_column_is_image -%}{%- capture piffc_src -%}{%- include 'get_product_images_from_first_column' -%}{%- endcapture -%}{%- endif -%}

<script>
  function product_page_1_description_handler(){
    changeBuyNowName();
    elevateZoomWidget.init();
    Shopify.getProduct('{{ product.handle }}', productPageJsonLoaded);
    ttCollapseBlock($('.tt-collapse-block'));
  }
  function ttCollapseBlock($this){
    if(!$this.length) return false;
    $this.each( function () {
      var obj = $(this),
          objOpen = obj.find('.tt-item.active'),
          objItemTitle = obj.find('.tt-item .tt-collapse-title');
      Shopify.designMode ? objOpen.find('.tt-collapse-content').show(): objOpen.find('.tt-collapse-content').slideToggle(200);

      objItemTitle.unbind().on('click', function () {
        $(this).next().slideToggle(200).parent().toggleClass('active');
      });
    });
  };
  var firstload = true;
  /* Swatches */
  function productPageJsonLoaded(json_data) {
    var str = '{{ piffc_src | replace: "'", "\\'" }}';
    var sw_history = Boolean({{ item.history }});
    var show_unavailable_options = $('.show_unavailable_variants').length > 0;
    var cur_opt = str != '' ? JSON.parse(str) : '';
    var full_opt = cur_opt != '' ? $.extend( texture_obj, cur_opt ) : texture_obj;
    _selectedByDefault = {% if item.use_select_button %}!(location.search == ''){% else %}true{% endif %};
    var group1 = new SwatchesConstructor(json_data, {firstavailablevariantid:'{{ product.selected_or_first_available_variant.id }}', contentParent: '.tt-swatches-container-js', enableHistoryState: sw_history, callback: productPageVariant, externalImagesObject: full_opt, externalColors: colors_value, colorWithBorder: color_with_border, productHandle:'{{ product.handle }}', designOption1:'{{ item.designoption1 }}', designOption2:'{{ item.designoption2 }}', designOption3:'{{ item.designoption3 }}', selectedByDefault: _selectedByDefault, show_unavailable_options: show_unavailable_options });

    $('body').on('change', '.tt-fixed-product-wrapper select', function(e){
        group1.initSwatches($(this).val());
        sw_history && history.pushState(null, null, location.pathname+'?variant='+$(this).val());
        $('[name="id"]').val($(this).val());
        $('.tt-fixed-product-wrapper').find('.btn').replaceWith($('.btn-addtocart').first().clone().removeClass('btn-lg btn-addtocart addtocart-js'));
    })

    json_data = null;
  };

  function productPageVariant(variant, product){
    var _parent = $('.tt-product-single-info');
    var _swatch = _parent.find('.tt-swatches-container-js');

    swatchVariantHandler(_parent, variant);

    var sc = $('.tt-swatches-container');
    if(firstload == true && location.search == '' && $('.select_options').length && !sc.find('.active').length && _swatch.children().length){
      firstload = false;
      return false;
    }

    if(_parent.find('.select_options').length){
      _parent.find('.select_options').removeClass('select_options');
      $(window).trigger('resize');
    }

    swatchVariantButtonHandler(_parent, variant);

    var g = $('#smallGallery');
    var filter = '.filter'+variant.options[0].split(' ').join('_');
    if($('.four-images-js').length == 0 && $('.product-images-static').length == 0 && g.hasClass('withfiltres') && g.attr('data-cur') != filter){
      g.attr('data-cur', filter);
      g.slick('slickUnfilter').slick('slickFilter',filter);
    }

    var img_id = variant.featured_media ? variant.featured_media.id : 'none';
    var target = img_id == 'none' ? $("[data-slick-index=0]").children() : $("[data-target="+img_id+"]");
    var num = target.last().parent().attr('data-slick-index');

    var $container = $("#smallGallery");
    $('.four-images-js').length == 0 && $('.product-images-static').length == 0 && setDefaultSlider(variant, num, $container, target);
    $container = $('.slider-scroll-product');
    setScrollSlider(num, $container);

    g = $('.tt-mobile-product-slider');
    if(num && g.length && g.hasClass('slick-initialized')) {
      var filter = '.filter'+variant.options[0].split(' ').join('_');
      if(g.hasClass('withfiltres') && g.attr('data-cur') != filter){
        g.attr('data-cur', filter);
        g.slick('slickUnfilter').slick('slickFilter',filter);
        g.find('li.slick-active').removeClass('slick-active');
        g.find('li.slick-current').addClass('slick-active').find('a').addClass('zoomGalleryActive');
      }
      g.slick('slickGoTo', num, true);
    }

    addToCartHandler.initFormAddToCartButton(variant.id, _parent, _swatch);

    $('.four-images-js').length && setFourSlider($('.four-images-js'), product, variant);

    var buyinoneclick = _parent.find(".buyinoneclick");
    buyinoneclick.length && buyinoneclick.removeClass("hide");

    if(_parent.find('.compare-js').length){
      _parent.find('.compare-js').attr('data-compareid', variant.id);
      $(window).trigger( "compareevent" );
    }

    var tfpw = $('.tt-fixed-product-wrapper');
    if(tfpw.length){
      if(variant.featured_media){
        tfpw.find('img').attr('src', Shopify.resizeImage(variant.featured_media.src, 'x80'));
      }

      var s = tfpw.find('select');
      s.val(variant.id);
      variant.available ? s.removeClass('disabled') : s.addClass('disabled');

      var v = $('.tt-product-single-info').find('.tt-input-counter').first().clone();
      tfpw.find('.tt-input-counter').replaceWith(v);
    }
  }
  function setDefaultSlider(variant, num, $container, target){
    $container.length && variant.featured_image && getMediaGalleryItem(target);

    if(num && $container.length && target.attr('data-image')){
      var it = target.attr('data-image').split('?').shift();
      var it2 = $(".zoom-product").attr('src').split('?').shift();
      if(it == it2){
        $container.slick('slickGoTo', num, true);
        $container.find('.zoomGalleryActive').removeClass('zoomGalleryActive');
        target.addClass('zoomGalleryActive');
        !elevateZoomWidget.checkNoZoom() && elevateZoomWidget.configureZoomImage();
        return false;
      }
    }
    else{
      if(variant.featured_image){
        var it = variant.featured_image.src.split('?').shift();
        var it2 = $(".zoom-product").attr('src').split('?').shift();
        if(it == it2) return false;
      }
    }

    if(num && $container.length && target.attr('data-item-type')){
      if(variant.featured_image){
        $container.slick('slickGoTo', num, true);
        $container.find('.zoomGalleryActive').removeClass('zoomGalleryActive');
        target.addClass('zoomGalleryActive');
        $(".zoom-product").attr('src', target.attr('data-image')).attr('data-zoom-image', target.attr('data-zoom-image'));
      }
    }
    else{
      //$('#smallGallery')
      if(variant.featured_image){
        $('.mediaimageholder').length && $('.mediaimageholder').show();
        $('.mediaholder').length && $('.mediaholder').hide();
        $(".zoom-product").attr('src', variant.featured_image.src).attr('data-zoom-image', variant.featured_image.src);
      }
      else{
        if($('[featuredmedia]').length && $container.length == 0){
          $('.mediaimageholder').length && $('.mediaimageholder').hide();
          $('.mediaholder').length && $('.mediaholder').show();
          $(".zoom-product").attr('src', '{{ 'dummy.png' | asset_url }}');
        }
      }
    }

    !elevateZoomWidget.checkNoZoom() && elevateZoomWidget.configureZoomImage();
  }
  function setFourSlider($container, product, variant){
    if(product.images.length < 4 || variant.featured_image == null) return false;

    var c_img = variant.featured_image.src.replace(/https:/g, '');
    var img_a = String(c_img+product.images.join(',').split(c_img).pop()).split(',');

    $container.find(".zoom-product").each(function(index){
      var src = Shopify.resizeImage(img_a[index], '600x');
      $(this).attr('src',src);
    })

    !elevateZoomWidget.checkNoZoom() && elevateZoomWidget.configureZoomImage();
  }
  function setScrollSlider(num, $container){
    if(!(num && $container.length)) return false;
    $container.slick('slickGoTo', num, true);
  }
  /* For buy now button */
  function changeBuyNowName(){
    var $buyinoneclick = $('.buyinoneclick');
    var buttonname = $buyinoneclick.data("buttonname");
    var loadname = $buyinoneclick.data("loading");
    if($buyinoneclick.length == 0) return false;
    $buyinoneclick.first().bind('DOMNodeInserted', function() {
      $(this).unbind('DOMNodeInserted');
      var $shopifypaymentbutton = $(this).find(".shopify-payment-button__button");
      setTimeout(function(){
        if($('.buyinoneclick').length){
          $buyinoneclick.hide();
          setTimeout(
            function(){
              if($(".shopify-payment-button__button").hasClass("shopify-payment-button__button--branded")){
                $(".shopify-payment-button__button")
                .on("click", function(){
                  $('.buyinoneclick').replaceWith('<p class="tt-loading-text">' + loadname + '</p>')
                })
                .find('span[aria-hidden=true]').first().text(buttonname+' ');
              }
              else{
                $(".shopify-payment-button__button")
                .on("click", function(){
                  $('.buyinoneclick').replaceWith('<p class="tt-loading-text">' + loadname + '</p>')
                })
                .text(buttonname);
              }
              $buyinoneclick.fadeIn()
            }, 300);
        }
      }, 300);
    });
  }
</script>
          <script>
  document.addEventListener('DOMContentLoaded', function () {
    const input = document.querySelector('.quant');

    input.addEventListener('input', function () {
      const max = parseInt(this.max, 100);
      if (this.value > max) {
        this.value = max;
      }
    });
  });
</script>


<style>
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>