{%- capture html_tabs -%}  
  {%- for block in section.blocks -%}
  {%- assign b_i = block.settings -%}
  {%- case block.type -%}
    {%- when 'tab_desc' -%}
      <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
        <div class="tt-collapse-title"{% if b_i.title == "" %} style="pointer-events: none; padding-bottom: 0px;"{% endif %}>{{ b_i.title }}</div>
        <div class="tt-collapse-content">{{ product.description }}</div>
      </div>
    {%- when 'tab_same_html' -%}
      <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
        <div class="tt-collapse-title">{{ b_i.title }}  <img src="{{'https://cdn.shopify.com/s/files/1/0568/1945/0045/files/image_2.png?v=1623303023'}}" class="accordian-img" alt="chevron-up"  width="30px" height="30px" loading="lazy">
        </div>
        <div class="tt-collapse-content">{{ b_i.html }}</div>
      </div>
     {%- when 'offer_same_html' -%}
    {% assign offer_count = 0 %}
  {% if b_i.offer1 != blank %}{% assign offer_count = offer_count | plus: 1 %}{% endif %}
  {% if b_i.offer2 != blank %}{% assign offer_count = offer_count | plus: 1 %}{% endif %}
  {% if b_i.offer3 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
  {% if b_i.offer4 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
    {% if b_i.offer5 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
     {% if b_i.offer6 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
    <div class="custom-avaible-offer">
      <div class="avaible-offer-content tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
        <div class="avaible-offer tt-collapse-title"> 
          <span><img class="offer-code" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/offre-anime.gif?v=1726730096" alt="discounttag" width="18px" height="18px">{{ b_i.title }}              
          </span>
          <div class="offers_badge">
            <span>{% comment %}{{ offer_count }} {% endcomment %}{{ b_i.spantitle }}</span>
             <img src="{{'ac-arrow-up.svg'|asset_url}}" class="accordian-img" alt="chevron-up"  width="30px" height="30px" loading="lazy">
          </div>
        </div>
        <div class="tt-collapse-content">
        {% if b_i.offer1 != blank %} <div class="offer-callout">{{ b_i.offer1 }}</div>{% endif %}
         {% if b_i.offer2 != blank %} <div class="offer-callout">{{ b_i.offer2 }}</div>{% endif %}
         {% if b_i.offer3 != blank %} <div class="offer-callout">{{ b_i.offer3 }}</div>{% endif %}
         {% if b_i.offer4 != blank %} <div class="offer-callout">{{ b_i.offer4 }}</div>{% endif %} 
          {% if b_i.offer5 != blank %} <div class="offer-callout">{{ b_i.offer5 }}</div>{% endif %} 
          {% if b_i.offer6 != blank %} <div class="offer-callout">{{ b_i.offer6 }}</div>{% endif %} 
          {% if b_i.offertxt != blank %}{{ b_i.offertxt }}{% endif %} 
        </div>
      </div>
    </div>
    {%- when 'tab_unique' -%}
    {%- if product_meta[b_i.key] != blank -%}
      <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
        <div class="tt-collapse-title">{{ b_i.title }}</div>
        <div class="tt-collapse-content">{{ product_meta[b_i.key] }}</div>
      </div>
    {%- endif -%}
    {%- when 'tab_review' -%}
    {%- unless settings.selectedreviewaapp == 'alireviewapp' -%}
    <div id="tab_review" class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
        <div class="tt-collapse-title">{{ b_i.title }}</div>
        <div class="tt-collapse-content">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    {%- endunless -%}
  {%- endcase -%}
  {%- endfor -%}
  {%- endcapture -%}
  
  
  {%- if html_tabs != '' -%}
  <div class="tt-collapse-block prpage-tabs">{{ html_tabs }}</div>
  {%- endif -%}