{%- capture html_tabs -%}  
    {%- for block in section.blocks -%}
    {%- assign b_i = block.settings -%}
    {%- case block.type -%}
      {%- when 'tab_desc' -%}
        <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
          <div class="tt-collapse-title"{% if b_i.title == "" %} style="pointer-events: none; padding-bottom: 0px;"{% endif %}>{{ b_i.title }}</div>
          <div class="tt-collapse-content">{{ product.description }}</div>
        </div>
      {%- when 'tab_same_html' -%}
        <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
          <div class="tt-collapse-title">{{ b_i.title }}  <img src="{{'https://cdn.shopify.com/s/files/1/0568/1945/0045/files/image_2.png?v=1623303023'}}" class="accordian-img" alt="chevron-up"  width="30px" height="30px" loading="lazy">
          </div>
          <div class="tt-collapse-content">{{ b_i.html }}</div>
        </div>
       {%- when 'offer_same_html' -%}
      {% assign offer_count = 0 %}
    {% if b_i.offer1 != blank %}{% assign offer_count = offer_count | plus: 1 %}{% endif %}
    {% if b_i.offer2 != blank %}{% assign offer_count = offer_count | plus: 1 %}{% endif %}
    {% if b_i.offer3 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
    {% if b_i.offer4 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
      {% if b_i.offer5 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}
       {% if b_i.offer6 != blank %}  {% assign offer_count = offer_count | plus: 1 %}{% endif %}

 {% if product.tags contains 'single product'%}  
 
 {% if product.collections contains collections[settings.col-handle1] and settings.show-callout  %}  
            {% unless product.title contains 'Free Gift'
                or product.collections contains collections[settings.col-handle2] or product.collections contains collections[settings.col-handle3] or product.collections contains collections[settings.col-handle4]
                        %}                           
                      <div id="callout1" class="custom-avaible-offer  price">
                       {% assign per-amt = settings.per-amt | strip | plus: 0 %}
                          
                            <div class="salestags pdp-callout">
                                <span class="textsaletag">
                            {{ settings.get-it-at }}
                                <b> {{ pr_variant.price | times: per-amt | money }}</b>
                                 
                                    <span class="spc-coll">|</span> 
                                    {{ settings.usecode }}{% comment %}Buy any 2 | Get FLAT 20% OFF | Use Code: <b>RAKHI20</b>{% endcomment %} 
                                </span>
                            </div>
                      </div> 
                        
                {% endunless %}        
  {% endif %}{% comment %}first generic based callout end   {% endcomment %}
   
{% if product.collections contains collections[settings.col-handle2] and settings.show-callout2  %}          
          <div id="callout2" class="custom-avaible-offer">
         {% assign per-amt2 = settings.per-amt2 | strip | plus: 0 %}
                <div id="callout1" class="salestags pdp-callout">                
                <span class="textsaletag ">{{ settings.get-it-at2 }} <b>  {{ pr_variant.price | times: per-amt2 | money }}</b> <span class="spc-coll">|</span> {{ settings.usecode2 }} </span> 
               </div>
          </div>     
        {% endif %}{% comment %}2nd collection based callout end   {% endcomment %}


{% if product.collections contains collections[settings.col-handle3] and settings.show-callout3 %}      
    
          <div id="callout3" class="custom-avaible-offer">
         {% assign per-amt3 = settings.per-amt3 | strip | plus: 0 %}
                <div id="callout1" class="salestags pdp-callout">                
                <span class="textsaletag ">{{ settings.get-it-at3 }}<b>  {{ pr_variant.price | times: per-amt3 | money }}</b> <span class="spc-coll">|</span> {{ settings.usecode3 }} </span> 
               </div>
          </div>
    
 {% endif %}{% comment %}3rd collection based callout end   {% endcomment %}
{% if product.collections contains collections[settings.col-handle4] and settings.show-callout4 %}      
      {% if settings.show-callout4 %}
    
          <div id="callout4" class="custom-avaible-offer">
         {% assign per-amt4 = settings.per-amt4 | strip | plus: 0 %}
                <div id="callout1" class="salestags pdp-callout">                
                <span class="textsaletag ">{{ settings.get-it-at4 }}<b> {{ pr_variant.price | times: per-amt4 | money }}</b><span class="spc-coll">|</span> {{ settings.usecode4 }} </span> 
               </div>
          </div>
    
        {% endif %}

 
 {% endif %} {% comment %}4th collection based callout end   {% endcomment %}
  {% if settings.show-callout5 %} 
           <div id="callout5" class="5 custom-avaible-offer">
              {% if product.title contains '' %}
                  {% assign per-amt5 = settings.per-amt5 | strip | plus: 0 %}
                  
                  <div class="salestags pdp-callout">
                      <span class="textsaletag">
                          {{ settings.get-it-at5 }} 
                        <b> {{ pr_variant.price | times: per-amt5 | money }}</b>
                       
                          <span class="spc-coll">|</span> 
                          {{ settings.usecode5 }}
                      </span> 
                  </div>
              
              </div>
         {% endif %}
          {% endif %}
  {% endif %}{% comment %}5th product based callout end   {% endcomment %}


      {%- when 'tab_unique' -%}
        {%- if product_meta[b_i.key] != blank -%}
        <div class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
          <div class="tt-collapse-title">{{ b_i.title }}</div>
          <div class="tt-collapse-content">{{ product_meta[b_i.key] }}</div>
        </div>
        {%- endif -%}
      {%- when 'tab_review' -%}
        {%- unless settings.selectedreviewaapp == 'alireviewapp' -%}
        <div id="tab_review" class="tt-item{% if b_i.open_tab_by_default %} active{% endif %}">
          <div class="tt-collapse-title">{{ b_i.title }}</div>
          <div class="tt-collapse-content">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </div>
        {%- endunless -%}
    {%- endcase -%}
    {%- endfor -%}
    {%- endcapture -%}

{%- if html_tabs != '' -%}
  <div class="tt-collapse-block prpage-tabs">{{ html_tabs }}</div>
{%- endif -%}
