<style>
  #testimonial-slider .testimonial-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }
  #testimonial-slider .testimonial-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  #testimonial-slider .testimonial-content {
    font-style: italic;
  }
  #testimonial-slider .testimonial-ratings .star {
    color: #FFD700; /* Gold color */
    margin-right: 5px;
  }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ section.settings.section_title }}</h2>
            <div id="testimonial-slider" class="row">
                {% for block in section.blocks %}
                    {% assign rating = block.settings.testimonial_rating | default: 5 | plus: 0 %}
                    {% if rating < 1 %}
                        {% assign rating = 1 %}
                    {% elsif rating > 5 %}
                        {% assign rating = 5 %}
                    {% endif %}
                    
                    {% if section.settings.layout_type == '2_columns' %}
                        {% assign column_class = 'col-md-6' %}
                    {% else %}
                        {% assign column_class = 'col-md-12' %}
                    {% endif %}
                    
                    <div class="{{ column_class }} testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="{{ block.settings.testimonial_image | img_url: '300x300' }}" alt="{{ block.settings.testimonial_name }}">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-ratings">
                                {% for i in (1..rating) %}
                                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.943a1 1 0 00.95.69h4.11c.97 0 1.371 1.24.588 1.81l-3.32 2.415a1 1 0 00-.364 1.118l1.286 3.943c.3.921-.755 1.688-1.538 1.118l-3.32-2.415a1 1 0 00-1.175 0l-3.32 2.415c-.783.57-1.837-.197-1.538-1.118l1.286-3.943a1 1 0 00-.364-1.118L2.325 9.37c-.783-.57-.382-1.81.588-1.81h4.11a1 1 0 00.95-.69l1.286-3.943z"/>
                                    </svg>
                                {% endfor %}
                            </div>
                            <div class="testimonial-job">{{ block.settings.testimonial_job }}</div>
                            <div class="testimonial-name">{{ block.settings.testimonial_name }}</div>
                        </div>
                        <div class="testimonial-content quote"><i class="fa fa-quote-left"></i>  
                            {{ block.settings.testimonial_content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if section.blocks.size < 10 %}
  <button type="button" class="btn btn-primary" onclick="Shopify.moveSection(this, 'testimonial')">Add New Testimonial</button>
{% endif %}

<script>
  jQuery(document).ready(function(){
    jQuery("#testimonial-slider").owlCarousel({
      items: 2,
      itemsDesktop: [1000, 2],
      itemsDesktopSmall: [900, 2],
      itemsTablet: [600, 1],
      pagination: true,
      navigation: false,
      autoPlay: true
    });
  });
</script>
{% schema %}
{
  "name": "Testimonial Slider",
  "settings": [
    {
      "type": "header",
      "content": "Testimonial Settings"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Customer Testimonials"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout Type",
      "options": [
        {
          "value": "2_columns",
          "label": "2 Columns"
        },
        {
          "value": "1_column",
          "label": "1 Column"
        }
      ],
      "default": "2_columns"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "Testimonial Image"
        },
        {
          "type": "text",
          "id": "testimonial_rating",
          "label": "Testimonial Rating (1-5)"
        },
        {
          "type": "text",
          "id": "testimonial_job",
          "label": "Testimonial Job"
        },
        {
          "type": "text",
          "id": "testimonial_name",
          "label": "Testimonial Name"
        },
        {
          "type": "textarea",
          "id": "testimonial_content",
          "label": "Testimonial Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom",
      "blocks": [
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}