{%- assign item = section.settings -%}
{%- assign grid = section.settings.items -%}
{%- assign mobgrid = section.settings.mob-items -%}
<div id="section-{{ section.id }}" class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %} custom-banner-row">
   <div class=" full-width-container">
  <div class="custom-banner">
    {%- for block in section.blocks -%}
          {%- assign item = block.settings -%} 
      <div class="slider-itemslider"><a href="{{item.collection }}" aria-label="bannerlinks" rel="link">      
        <div class="grid-column-itemslider">    
          <div class="custom-banner-gd">
              {%- unless item.image == blank -%}
                {% comment %} <link rel="preload" as="image" href="{{ item.image | img_url: 'master'}}">{% endcomment %}
              <img class="slidebanner mobile-{%- unless  item.image == blank -%}hide{%- endunless -%} "                
                 src="{{ item.image | img_url: '1600x'}}" id="{{ section.settings.tracking-id}}"
                   alt="banner image" width="100%" height="100%" fetch-priority="high" loading="eager"  srcset="{{ item.image | img_url: '1600x'}}">
              {%- endunless -%} 
              {%- unless item.image == blank -%}
                {% comment %} <link rel="preload" as="image" href="{{ item.image | img_url: 'master'}}">{% endcomment %}
              <img class="slidebanner desktop-{%- unless  item.image == blank -%}hide {%- endunless -%}  "                 
                src="{{ item.mob-image | img_url: '450x'}}" id="{{ section.settings.tracking-id}}" 
                   alt="banner image" width="100%" height="100%" fetch-priority="high" loading="eager" srcset="{{ item.mob-image | img_url: '450x'}}">
              {%- endunless -%}
          </div>  
        </div></a></div>
        {%- endfor -%}  
    </div></div>
</div>
{% schema %}
  {
    "name": "Custom Banner lp",
    "class": "index-section",
    "settings": [
       {
          "label": "Tracking id",
          "info": "Do Not Delete",
          "id": "tracking-id",
          "type": "text"
        }
                
    ],
    "blocks": [
    {
      "type": "item",
      "name": "Slider",
      "settings": [
        {
          "label": "Link",
          "id": "collection",
          "type": "url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image"
        },
        {
          "type": "image_picker",
          "id": "mob-image",
          "label": "Custom Mpbile Image"
        }     
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Banner",
      "category": "Slider",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}