<style>
    .multicolumn{  text-align: center;}
     @media (max-width: 789px){
  .multicolumn img { max-width: 120px;}
     }
   .custom-slideshow  ul.slick-dots{    margin-top: -40px !important;}
   .custom-slideshow .slick-dots li button {
      width: 30px;border-radius:0;
      height: 5px;
  }
  /* Define the keyframes for the background color animation */
  @keyframes backgroundProgress {
    0% {
      background-color: #ffffff;
    }
    100% {
      background-color: #06374f;
    }
  }

  /* Apply styles to the slick-active button */
  .custom-slideshow .slick-dots .slick-active button {
    background-color: #ffffff; /* Initial background color */
    animation: backgroundProgress 6s forwards; /* Apply the animation */
  }

  /* Optional: Ensure the button's transition is smooth */
  .custom-slideshow .slick-dots button {
    transition: background-color 0.3s ease;
  }
  .custom-slideshow:not(.slick-initialized) .slidebanner:not(.slidebanner1){display:none;}
</style>
{%- assign item = section.settings -%}
{%- assign grid = section.settings.items -%}
{%- assign mobgrid = section.settings['mob-items'] -%}
<div
  id="section-{{ section.id }}"
  class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %} custom-banner-row"
>
  <div class=" full-width-container">
    <div class="{%- if section.blocks.size > 1 -%} custom-{% endif %}slideshow  noarrow custom-slideshow-container">
      {%- for block in section.blocks -%}
        {%- assign item = block.settings -%}
        <div class="slider-itemslider">
          <a href="{{item.collection }}" aria-label="bannerlinks" rel="link">
            <div class="grid-column-itemslider">
              <div class="custom-banner-gd">
                {%- unless item.image == blank -%}
                  {%- if forloop.index == 1 -%}
                    {% comment %}  <link rel="preload" as="image" href="{{ item.image | img_url: ''}}">{% endcomment %}
                  {%- endif %}

                  <img
                    class="slidebanner{{ forloop.index }} slidebanner mobile-{%- unless  item.image == blank -%}hide{%- endunless -%}"
                    decoding="async"
                    srcset="{{ item.image | img_url: '1600x'}}"
                    id="{{ section.settings.tracking-id  | strip}}{{ forloop.index }}"
                    alt="banner image"
                    width="100%"
                    height="100%"
                    decoding="async"
                    {%- if forloop.index == 1 -%}
                      fetch-priority="high"
                      loading="eager"
                    {% else %}
                      fetch-priority="high"
                      loading="eager"
                    {%- endif %}
                    {% comment %}
                      srcset="{{ item.image | img_url: '1600x'}}"
                    {% endcomment %}
                    {%- if forloop.index == 1 -%}
                    {% endif %}
                  >
                {%- endunless -%}
                {%- unless item.image == blank -%}
                  {%- if forloop.index == 1 -%}
                    {% comment %}  <link rel="preload" as="image" href="{{ item.mob-image | img_url: '500x598'}}">{% endcomment %}
                  {%- endif %}

                  <img
                    class="slidebanner{{ forloop.index }} slidebanner desktop-{%- unless  item.image == blank -%}hide {%- endunless -%} "
                    decoding="async"
                    srcset="{{ item.mob-image | img_url: '450x'}}"
                    id="{{ section.settings.tracking-id  | strip}}{{ forloop.index }}"
                    alt="banner image"
                    width="100%"
                    height="100%"
                    loading="eager"
                    {%- if forloop.index == 1 -%}
                      fetch-priority="high"
                      loading="eager"
                    {% else %}
                      fetch-priority="high"
                      loading="eager"
                    {%- endif %}
                    {% comment %}
                      srcset="{{ item.mob-image | img_url: '450x'}}"
                    {% endcomment %}
                    {%- if forloop.index == 1 -%}
                    {% endif %}
                  >
                {%- endunless -%}
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% comment %}
  <script>
    // Select all images with the class 'lazyload'
  const lazyImages = document.querySelectorAll('img.lazyload');

  // Loop through the NodeList and remove the class
  lazyImages.forEach(img => {
    img.classList.remove('lazyload');
  });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const lazyImages = document.querySelectorAll('img[loading="lazy"]');
      lazyImages.forEach(img => img.removeAttribute('loading'));
    });
  </script>
{% endcomment %}
{% schema %}
{
  "name": "Custom Slidershow",
  "class": "index-section",
  "settings": [
      {
        "label": "Tracking id",
        "info": "Do Not Delete",
        "id": "tracking-id",
        "type": "text"
      }

  ],
  "blocks": [
  {
    "type": "item",
    "name": "Slider",
    "settings": [
      {
        "label": "Link",
        "id": "collection",
        "type": "url"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Custom Image"
      },
      {
        "type": "image_picker",
        "id": "mob-image",
        "label": "Custom Mpbile Image"
      }

    ]
  }
],
"presets": [
  {
    "name": "Custom slideshow",
    "category": "Slider",
    "blocks": [
    ]
  }
]
}
{% endschema %}
