{% schema %}
{
  "name": "Latest Blog Section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Latest Blog",
      "category": "Blog"
    }
  ]
}
{% endschema %}

<section>
  <div class="container-fluid px-0">
     
    <!-- row 1 -->
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="img-block bg-1"></div>
      </div>
      <div class="col-md-6">
        <div class="content">
          {% assign selected_blog = section.settings.blog | default: 'blog' %}
          <h2>{{ selected_blog.articles.first.title }}</h2>
          <p>{{ selected_blog.articles.first.excerpt }}</p>
        </div>
      </div>
    </div>
    
    <!-- row 2 ***make sure to add order classes on col divs** -->
    <div class="row no-gutters">
      <div class="col-md-6 order-1 order-md-2">
        <div class="img-block bg-2"></div>
      </div>
      <div class="col-md-6 order-2 order-md-1">
        <div class="content">
          <h2>{{ selected_blog.articles[1].title }}</h2>
          <p>{{ selected_blog.articles[1].excerpt }}</p>
        </div>
      </div>
    </div>
    
    <!-- row 3 -->
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="img-block bg-3"></div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h2>{{ selected_blog.articles[2].title }}</h2>
          <p>{{ selected_blog.articles[2].excerpt }}</p>
        </div>
      </div>
    </div>
    
  </div>
</section>
