<style>
  /* .pdp-key-skill .container {padding:40px 0;} */
  .skill-conatiner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: repeat(1, 1fr);   
    width: 100%;
    margin: 0 auto;
}
     @media (max-width: 890px) {
       .skill-item img {
    width: 60px;
    height: 60px;
}
    .skill-conatiner {
        display: grid;
        grid-gap: 25px;       
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding: 0 10px;
    }
}
.skill-item {  text-align: center;}
  @media (min-width: 1025px) {
  .skill-conatiner {
    justify-content: space-around;
}}
  p.key_skills {
    font-family: AvenirMedium;
    font-size: 16px;text-transform: capitalize;
    font-weight: 500;
    color: #06374f;
}
.skill-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdp-key-skill {
  padding: 30px 0;
}
</style>
{%- assign item = section.settings -%}
{%- assign grid = section.settings.items -%}
{%- assign mobgrid = section.settings.mob-items -%}
 {%- if product.metafields.pdp.key_skills != blank -%}
<div class="container-indent pdp-key-skill">
  <div class="container ">
    <div class="tt-categories-listing">     
      <div class="tt-block-title">
      <p class="tt-title">{{ item.text1 }}</p>
      {% unless item.text2 == '' %}<div class="tt-description">{{ item.text2 }}</div>{% endunless %}
    </div>
      <div id="skill_pdp_keyskills" class="row skill-conatiner">
  {% assign customKeywords = product.metafields.pdp.key_skills | split: ',' %}

  {% for keyword in customKeywords %}
  <div class="skill-item single-pd-metafield">
    {% if keyword contains 'Language Skills' %}
    <a href="#"> <img loading="lazy" alt="Language Skills" width="100px" height="100px" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_100x100.png" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/LanuageSkills-icon_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
    {% endif %}
    {% if keyword contains 'Sensory Capabilities' %}
    <a href="#"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Sensory_Capabilities-icon_100x100.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Sensory_Capabilities-icon_100x100.png" > <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
    {% if keyword contains 'Cognitive Abilities' %}
    <a href="#"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Cognitive_Abilities-icon_100x100.png"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Cognitive_Abilities-icon_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
    {% if keyword contains 'Concentration' %}
    <a href="#"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Concentration-icon_100x100.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Concentration-icon_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
    {% if keyword contains 'Hand-eye Coordination' %}
    <a href="#"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Hand-eye_Coordination-icon_100x100.png"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Hand-eye_Coordination-icon_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
    {% if keyword contains 'Vocabulary' %}
    <a href="#"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Vocabulary-icon_100x100.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Vocabulary-icon_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Observation' %}
    <a href="https://www.skillmatics.in/collections/observation"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Observation_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Observation_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Focus & Attention' %}
    <a href="https://www.skillmatics.in/collections/focus-and-attention"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Focus_Attention_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Focus_Attention_100x100.webp" > <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Spatial Reasoning' %}
    <a href="https://www.skillmatics.in/collections/spatial-reasoning"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Spatial_Reasoning_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Spatial_Reasoning_100x100.webp" > <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Social & Communication' %}
    <a href="https://www.skillmatics.in/collections/social-and-communication"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Social_Communication_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Social_Communication_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Fine Motor' %}
    <a href="https://www.skillmatics.in/collections/fine-motor"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Fine_Motor_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Fine_Motor_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Process Planning' %}
    <a href="https://www.skillmatics.in/collections/smart-planning-through-play"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Process_Planning_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Process_Planning_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Problem Solving' %}
    <a href="https://www.skillmatics.in/collections/problem-solving"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Problem_Solving_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Problem_Solving_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Reflective Thinking' %}
    <a href="https://www.skillmatics.in/collections/play-that-sparks-thought"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reflective_Thinking_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reflective_Thinking_100x100.webp" > <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Mental Processing' %}
    <a href="https://www.skillmatics.in/collections/mental-processing"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mental_Processing_100x100.webp"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mental_Processing_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Decision Making' %}
    <a href="https://www.skillmatics.in/collections/decision-making"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Decision_Making_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Decision_Making_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Writing' %}
    <a href="https://www.skillmatics.in/collections/exciting-stories-start-here"><img loading="lazy" alt="Language Skills" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Writing_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Writing_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Critical Thinking' %}
    <a href="https://www.skillmatics.in/collections/critical-thinking"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Critical_Thinking_100x100.webp"  srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Critical_Thinking_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
 {% if keyword contains 'Creative Thinking' %}
    <a href="https://www.skillmatics.in/collections/explore-your-creativity-1"><img loading="lazy" alt="Language Skills" width="100px" height="100px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Creative_Thnking_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Creative_Thnking_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
{% if keyword contains 'Reading & Comprehension' %}
    <a href="https://www.skillmatics.in/collections/engage-with-fun-reading-games"><img loading="lazy" alt="Language Skills" width="100px" height="100px"   src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reading_Comprehension_100x100.png" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Reading_Comprehension_100x100.png"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
{% if keyword contains 'Logical Reasoning' %}
    <a href="https://www.skillmatics.in/collections/logical-reasoning"><img loading="lazy" alt="Logical Reasoning" width="100px" height="100px"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Logical_Reasoning_100x100.webp" srcset="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Logical_Reasoning_100x100.webp"> <p class="key_skills">{{ keyword }}</p></a>
      {% endif %}
   
  </div>
  {% endfor %}
    </div></div></div></div>
     {% endif %}
  {% schema %}
  {
    "name": "Key Skills",
    "class": "index-section",
    "settings": [
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "WELCOME!"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "ABOUT OUR STORE",
		"info": "Empty field = hide field"
      },
       {
          "type": "color",
          "id": "sectionbg",
          "label": "Section background color",
          "default": "#191919"
        },
       {
      "type": "select",
      "id": "items",
      "label": "Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
       {
      "type": "select",
      "id": "mob-items",
      "label": "Mobile Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    }
    ],
    "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "label": "Link",
          "id": "collection",
          "type": "url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_name",
          "label": "Custom Name",
          "info": "If \"Custom Name\" is empty, title = default collection name"
        }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Key Skills",
      "category": "Multicolumn",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}