<style>
  .section-more-about{ padding-top: 40px;padding-bottom:40px;}
 .section-more-about  h2.tt-title {   margin: 14px auto;}
   #shopify-section-{{section.id}}.index-section{background-color: {{section.settings.sectionbg}};}
 .section-more-about  .slick-slider .slick-dots{margin-top:0;}
  .section-more-about h2.tt-title {  font-family: "AvenirRegular" !important;}
   @media (max-width: 790px) {
      .section-more-about h2.tt-title {  font-size:20px;font-weight:500;}
  }
  @media (min-width: 791px) {
     .section-more-about  .slick-slider .slick-dots{display:none;}
  }
</style>
{%- assign item = section.settings -%}
{%- assign grid = section.settings.items -%}
{%- assign mobgrid = section.settings.mob-items -%}
 {%- if product.metafields.pdp.more_images != blank -%}
<div class="container-indent section-more-about">
  <div class="container ">
    <div class="tt-categories--listing">     
      <div class="tt-block-title">
      <p class="tt-title">{{ item.text1 }}</p>
      {% unless item.text2 == '' %}<div class="tt-description">{{ item.text2 }}</div>{% endunless %}
    </div>
      <div class="row noarrow  more-abt-multicolumn">
      
{% if product.metafields.pdp.more_images %}
    {% assign file = product.metafields.pdp.more_images.value %}
  {% for image in product.metafields.pdp.more_images.value %}
        <div class="col-{{ mobgrid }} col-md-{{ grid }} col-{{ mobgrid }}-440width">
             <a class="tt-title-block text-center" href="{{ item.collection}}" aria-label="Imagelinks">            
             
              {%- if image != blank -%}
              <img class="lazyload"
                  src="{{ image | image_url: width: '500x' }}"                                  
                   alt="more about product" width="400px" height="400px">
            
              {%- endif -%}
               <p class="tt-title">{% if image.alt != ''%}{{  image.alt }}{% endif %}</p>
            </a>
        </div> {%- endfor -%}{%- endif -%}
      </div></div></div></div>

{% endif %}

{% schema %}
  {
    "name": "More About Product",
    "class": "index-section",
    "settings": [
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "WELCOME!"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "ABOUT OUR STORE",
		"info": "Empty field = hide field"
      },
       {
          "type": "color",
          "id": "sectionbg",
          "label": "Section background color",
          "default": "#ffffff"
        },
       {
      "type": "select",
      "id": "items",
      "label": "Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
       {
      "type": "select",
      "id": "mob-items",
      "label": "Mobile Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    }
    ],
    "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "label": "Link",
          "id": "collection",
          "type": "url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_name",
          "label": "Custom Name",
          "info": "If \"Custom Name\" is empty, title = default collection name"
        }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "More About Product",
      "category": "Multicolumn",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}