{% comment %}{{ 'section-gift.css' | asset_url | stylesheet_tag }}{% endcomment %}
<link
  rel="stylesheet"
  href="{{ 'section-gift.css' | asset_url }}"
  media="print"
  onload="this.onload=null;this.media='all';"
>
{%- assign item = section.settings -%}
<style>
      #shopify-section-{{section.id}}.index-section{
      background-color: {{section.settings.sectionbg}};
         background-repeat: no-repeat;
  background-size: cover;
     background-position: center;
    }
    {% if section.settings.bg-desktop %}
        @media (min-width: 768px) {
       #shopify-section-{{section.id}}.index-section{
      background-image: url("{{section.settings.bg-desktop | img_url:'2560x'}}");
    }
      }
      {% endif %}
      {% if section.settings.bg-mobile %}
        @media (max-width: 767px) {
       #shopify-section-{{section.id}}.index-section{
       background-image:url("{{section.settings.bg-mobile | img_url:'800x800'}}");
    }
      }
      {% endif %}
  @media (min-width: 1801px) and (max-width: 1920px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 55px 0;
    }
  }
  @media (min-width: 1701px) and (max-width: 1800px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 40px 0;
    }
  }
  @media (min-width: 1601px) and (max-width: 1700px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 30px 0;
    }
  }
  @media (min-width: 1501px) and (max-width: 1600px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 15px 0;
    }
  }
  @media (min-width: 1401px) and (max-width: 1500px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 10px 0;
    }
  }
  @media (min-width: 1301px) and (max-width: 1400px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 0px 0;
    }
  }
  @media (min-width: 1000px) and (max-width: 1300px) {
    #shopify-section-{{section.id}}.index-section {
      padding: 20px 0;
    }
  }
</style>

<div id="section-{{ section-id }}" class="giffting-sec temp-{{ template.suffix }} ">
  <div class="container">
    <div class="offer-block-title"></div>
    <div class="gifting-container center text-center">
      {% if section.settings.text1 != blank %}
        <h2 class="tt-title section-giftheading">{{ section.settings.text1 }}</h2>
      {% endif %}
      {% if section.settings.text2 != blank %}
        <span class="font-d-Mikado color-brand font-Mikado section-gifting-subtitle">{{ section.settings.text2 }}</span>
      {%- endif %}
      {% if section.settings['show-btn'] %}
        <div class="btn-contacts">
          <a class="mailbtn" href="mailto:{{ section.settings.emailid }}"
            ><img
              src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/email-white_25x25.png?v=1750061794"
              loading="lazy"
              alt="email"
              width="25px"
              height="25px"

            ><span class="color-brand">{{ section.settings.emailid }}</span></a
          >
          <a class="mailbtn" href="https://wa.me/{{ section.settings.phoneno }}" target="_blank"
            ><img
              src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mobile_25x25.png?v=1742463939"
              loading="lazy"
              alt="whatslink"
              width="25px"
              height="25px"

            ><span class="color-brand">+91 {{ section.settings.phoneno }}</span></a
          >
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section Gift text",
  "class": "index-section",
  "settings": [
      {
        "type": "text",
        "id": "text1",
        "label": "Heading",
        "default": "Have a birthday party or  an event coming up?!"
      },
     {
        "type": "richtext",
        "id": "text2",
        "label": "text",
        "default": "<p>Contact us for product recommendations and special discounts!</p>"
      },
        {
          "type": "color",
          "id": "sectionbg",
          "label": "Section background color"
        },
     {
          "type": "image_picker",
          "id": "bg-desktop",
          "label": "desktop background "
        },
     {
          "type": "image_picker",
          "id": "bg-mobile",
          "label": "mobile background Image "
        },
     {
          "type": "checkbox",
          "id": "show-btn",
          "label": "Show contacts"
   },
      {
          "type": "text",
          "id": "emailid",
          "label": "Emailid"
   } ,
      {
          "type": "text",
          "id": "phoneno",
          "label": "Phone Number"
   }
  ],
  "presets": [
    {
      "name": "Section Gift text",
      "category": "Simple Section"
    }
  ]
}
{% endschema %}
