<style>
    #shopify-section-{{section.id}}.index-section{
    background-color: {{section.settings.sectionbg}};
  }
  .multicolumn{  text-align: center;}
   @media (max-width: 789px){
    .multicolumn img { max-width: 120px;width:100%;}
   #shopify-section-{{section.id}}   .multicolumn {   margin-bottom:10px;}
   }
   #shopify-section-{{section.id}}.index-section{
    background-color: {{section.settings.sectionbg}};
       background-repeat: no-repeat;
background-size: cover;
   background-position: center;
  }
  {% if section.settings.multifetures-bg-desktop %}
      @media (min-width: 768px) {
     #shopify-section-{{section.id}}.index-section{
    background-image: url("{{section.settings.multifetures-bg-desktop | img_url:'2560x'}}");
  }
       #shopify-section-{{section.id}} .section-multicolumn-index {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}
    }
    {% endif %}
    {% if section.settings.multifetures-bg-mobile %}
      @media (max-width: 767px) {
     #shopify-section-{{section.id}}.index-section{
     background-image:url("{{section.settings.multifetures-bg-mobile | img_url:'450x478'}}");
       background-size: cover;
        background-repeat: no-repeat;
       background-position: initial;
  }
    }
    {% endif %}
    .custom-bg img {
      width: 100%
    }
  #shopify-section-template--18564408246461__section_multicolumn_QKnXVH .tt-block-title {
    margin: 0;
}
  #shopify-section-{{section.id}} {
    position: relative;
  }
  /* .section-multicolumn-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important
  } */
  @media (max-width: 650px) {
    .section-multicolumn-index {
          position: relative;
    top:0%;
    left:0%;
    transform: translate(0%, 0%);
    }

  }
  @media (min-width: 1000px) and (max-width: 1550px) {
    #shopify-section-{{section.id}}.index-section{
      background-size: contain !important;
    }
  }
  {% if page.handle == 'category' %}
      @media (min-width: 1250px) and (max-width: 1550px) {
        #shopify-section-{{section.id}}.index-section{
          background-size: cover !important;
        }
      }
  {% endif %}
  @media (min-width: 1551px) and (max-width: 1925px) {
    #shopify-section-{{section.id}}.index-section{
      padding: 20px 0;
    }
  }
</style>
{%- assign item = section.settings -%}
{%- assign grid = section.settings.items -%}
{%- assign mobgrid = section.settings.mob-items -%}
<!-- <picture class="custom-bg desktop-only">
  <source media="(min-width:768px)" srcset="{{section.settings.multifetures-bg-desktop | img_url:'2560x'}}">
  <img src="{{section.settings.multifetures-bg-desktop | img_url:'2560x'}}" loading="lazy" alt="{{ image.alt }}" decoding="async">
</picture> -->

<div class="container-indent section-multicolumn-index">
  <div class="container ">
    <div class="tt-categories-listing">     
      <div class="tt-block-title">
      <h2 class="tt-title">{{ item.text1 }}</h2>
      {% unless item.text2 == '' %}<div class="tt-description">{{ item.text2 }}</div>{% endunless %}
    </div>
      <div class="row">
        {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}{%- assign item = block.settings -%}             
        <div class=" multicolumn col-{{ mobgrid }} col-md-{{ grid }} col-{{ mobgrid }}-440width">
             <a class="tt-title-block" href="{{ item.collection}}" aria-label="Imagelinks">            
             {% comment %}
              {%- if item.image != blank -%}
              <img class="shop-by-age" id="{{ section.settings.tracking-id}}{{ forloop.index }}"
                  src="{{ block.settings.image | img_url:'180x200'}}"                                  
                   alt="{{ item.image.alt }}" width="180px" height="auto" loading="lazy" fetch-priority="low" srcset="{{ block.settings.image | img_url:'180x200'}}"    >
            
              {%- endif -%}{% endcomment %}
           {%- if item.image != blank -%}
             <picture>
  {%- if block.settings.image != blank -%}
    <source 
      media="(max-width: 767px)" 
      srcset="{{ block.settings.image | img_url: '120x150' }}">
    <source 
      media="(min-width: 768px)" 
      srcset="{{ block.settings.image | img_url: '180x200' }}">
  {%- endif -%}
  <img 
    class="shop-by-age" 
    id="{{ section.settings.tracking-id }}{{ forloop.index }}"
    src="{{ block.settings.image | img_url: '180x200' }}"
    srcset="{{ block.settings.image | img_url: '180x200' }}"
    alt="{{ item.image.alt }}"
    width="180"
    height="auto"
    loading="eager"
    fetch-priority="high"
    decoding="async"
  >
</picture>
            
              {%- endif -%}
               {% comment %}
                 <h2 class="tt-title">{% if item.custom_name != ''%}{{ item.custom_name }}{% endif %}</h2>
               {% endcomment %}
            </a>
        </div> {%- endfor -%}{%- endif -%}
      </div></div></div></div>

{% schema %}
  {
    "name": "Multicolumn",
    "class": "index-section",
    "settings": [
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "WELCOME!"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "ABOUT OUR STORE",
		"info": "Empty field = hide field"
      },
      {
          "type": "image_picker",
          "id": "multifetures-bg-desktop",
          "label": "desktop background "
        },
     {
          "type": "image_picker",
          "id": "multifetures-bg-mobile",
          "label": "mobile background Image "
        },
       {
          "type": "color",
          "id": "sectionbg",
          "label": "Section background color",          
        },
       {
      "type": "select",
      "id": "items",
      "label": "Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
       {
      "type": "select",
      "id": "mob-items",
      "label": "Mobile Items In Line",
      "default": "4",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
       {
          "label": "Tracking id",
          "info": "Do Not Delete",
          "id": "tracking-id",
          "type": "text"
        }
    ],
    "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "label": "Link",
          "id": "collection",
          "type": "url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_name",
          "label": "Custom Name",
          "info": "If \"Custom Name\" is empty, title = default collection name"
        }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn",
      "category": "Multicolumn",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}